{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/..">Home</a></li>
      <li class="breadcrumb-item"><a href="/physics">A-level physics</a></li>
      <li class="breadcrumb-item active" aria-current="page">Further mechanics and thermal physics</li>
    </ol>
</nav>


<div class="jumbotron">
    <h1 class="display-4">Start here!</h1>
    <p>Try a couple of the questions here to see what you need to work on</p>
    <hr class="my-4">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-motion-in-a-circle" data-toggle="tab" href="#nav-motion-in-a-circle" role="tab" aria-controls="nav-nav-motion-in-a-circle" aria-selected="true">Motion in a circle</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-motion-in-a-circle" role="tabpanel" aria-labelledby="nav-motion-in-a-circle">
            <a class="dropdown-item" href="e1_uniform_circular_motion_random/" target="_blank">Random uniform circular motion question</a>
            <a class="dropdown-item" href="e2_centripetal_acceleration_random/" target="_blank">Random centripetal acceleration question</a>
            <a class="dropdown-item" href="e3_on_the_road_random/" target="_blank">Random support force question, Top Gear style </a>
            <a class="dropdown-item" href="e4_at_the_fairground_random/" target="_blank">Random support force question about sensible fair rides</a>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h1 class="display-4">Questions about motion in a circle</h1>
    <p>Pick your favourite...</p>
    <hr class="my-4">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-uniform-circular-motion" data-toggle="tab" href="#nav-uniform" role="tab" aria-controls="nav-uniform" aria-selected="true">Uniform circular motion</a>
            <a class="nav-item nav-link" id="nav_centripetal_acceleration" data-toggle="tab" href="#nav-centripetal" role="tab" aria-controls="nav-centripetal" aria-selected="false">Centripetal acceleration</a>
            <a class="nav-item nav-link" id="nav_on_the_road" data-toggle="tab" href="#nav-on" role="tab" aria-controls="nav-on" aria-selected="false">Centripetal forces on the road</a>
            <a class="nav-item nav-link" id="nav_at_the_fairground" data-toggle="tab" href="#nav-at" role="tab" aria-controls="nav-at" aria-selected="false">Centripetal forces at the fair ground</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-uniform" role="tabpanel" aria-labelledby="nav_uniform_circular_motion">
            <a class="dropdown-item" href="e1_uniform_circular_motion_random/" target="_blank">Random angular displacement and agnular velocity question</a>
            <a class="dropdown-item" href="e1qa_minute_hand_of_clock/" target="_blank">Angular displacement and clocks</a>
            <a class="dropdown-item" href="e1qb_time_pweriod_angle_electric_motor/" target="_blank">Electric motors</a>
            <a class="dropdown-item" href="e1qc_planet_rotation/" target="_blank">Angular displacement and planets</a>
            <a class="dropdown-item" href="e1qd_satalite_orbit/" target="_blank">Angular displacement and satelites</a>
        </div>
        <div class="tab-pane fade" id="nav-centripetal" role="tabpanel" aria-labelledby="nav_centripetal_acceleration">
            <a class="dropdown-item" href="e2_centripetal_acceleration_random/" target="_blank">Random centripetal acceleration question</a>
            <a class="dropdown-item" href="e2qa_the_wheel_of/" target="_blank">Questions about wheels</a>
            <a class="dropdown-item" href="e2qb_object_circular_path/" target="_blank">Circular paths</a>
            <a class="dropdown-item" href="e2qc_earth_around_sun/" target="_blank">Planets in orbit</a>
            <a class="dropdown-item" href="e2qd_hammer_thrower/" target="_blank">Hammer throwers</a>
        </div>
        <div class="tab-pane fade" id="nav-on" role="tabpanel" aria-labelledby="nav_on_the_road">
            <a class="dropdown-item" href="e3_on_the_road_random/" target="_blank">Random support force question, Top Gear style </a>
            <a class="dropdown-item" href="e3qa_bridge/" target="_blank">Driving over humps</a>
            <a class="dropdown-item" href="e3qb_roundabout/" target="_blank">Roundabout</a>
            <a class="dropdown-item" href="e3qc_racingtrack/" target="_blank">Taking corners on the track</a>
        </div>
        <div class="tab-pane fade" id="nav-at" role="tabpanel" aria-labelledby="nav_at_the_fairground">
            <a class="dropdown-item" href="e4_at_the_fairground_random/" target="_blank">Random support force question about sensible fair rides</a>
            <a class="dropdown-item" href="e4qa_rollercoaster/" target="_blank">Rollercoasters</a>
            <a class="dropdown-item" href="e4qb_swing/" target="_blank">Big swings</a>
            <a class="dropdown-item" href="e4qc_wheel/" target="_blank">Ferriswheels</a>
        </div>
    </div>
</div>


{% endblock %}
