{% extends "base.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "css/physics.css" %}">

<div class = "paper-markscheme-buttons-grid">
    <div><h5 class = 'paper' onclick="displayPaper()">Exam Paper</h5></div>
    <div><h5 class = 'markscheme' onclick="displayMarkscheme()">Mark Scheme</h5></div>     
</div>

<span id='paper' style="display:block;">
        <div class = 'section-grid'><!--three columns-->
            <div></div><!--margin column 1-->
            <div><!--main section column 2-->
                
                <div class = 'section-header-box'>
                    <h4><b>Section A</b></h4>
                    </br>
                    <h5>Answer <b>all</b> questions in this section.</h5>
                </div>
                
                

                {% for q in qlist %}
                <div class = "section-main-grid"><!--three columns-->

                    <div><h5 class = 'question-number-box'>{{q.questionNumber}}</h5></div><!--number margin column 1-->
                    <div></div><!--sub number margin column 2-->
                    <div><!--question section column 3-->
                        {% for  constant in q.constantList %}
                        <h4>{{constant}}</h4>
                        {% endfor %}
                        {% if q.diagram != None %}
                        <div>
                            <p class="centered"><img  width="60%" height="auto" src= "{% static q.diagram %}" alt="things"></p>
                        </div>
                        {% endif %}

                        {% if q.piclink != None %}
                        <div>
                            <p class="centered"><img  width="30%" height="auto" src= "{{q.piclink}}" alt="things"></p>
                        </div>
                        {% endif %}

                        <h5>{{q.questionBase}}</h5>
                        
                    </div>
    

                    {% if q.questionPartList != None %}
                    {% for item in q.questionPartList %}
                
                    <div><!--number margin column 1-->
                        <h5 class = 'question-number-box'>{{q.questionNumber}}.{{item.sub_number}}</h5>
                    </div>
                    <div></div><!--sub number margin column 2-->
                    <div><!--question section column 3-->
                        <h5>{{item.sub_question}}</h5>
                        {% if item.sub_mark != 1 %}
                        <h5 class = "section-marks-base"><b>[{{item.sub_mark}} marks]</b></h5>
                        {% else %}
                        <h5 class = "section-marks-base"><b>[{{item.sub_mark}} mark]</b></h5>
                        {% endif %}
                    </div>

                    

                    {% endfor %}
                    {% endif %}

                    <div></div>
                    <div></div>
                    <div>
                        {% if q.marksBase == None %}
                        <h5 class = "section-marks-base"><b>[1 mark]</b></h5>
                        {% elif q.marksBase == 1 %}
                        <h5 class = "section-marks-base"><b>[{{q.marksBase}} mark]</b></h5>
                        {% else %}
                        <h5 class = "section-marks-base"><b>[{{q.marksBase}} marks]</b></h5>
                        {% endif %}
                    </div>

                    <div></br></div>
                    <div></div>
                    <div></div>

                    <div></br></div>
                    <div></div>
                    <div></div>
                </div>
                {% endfor %}               
            </div>

            <div><p class = 'donot'>Do not write outside the box</p></div><!--margin-->
        </div>
</span>

<span id='markscheme' style="display:none;">
    <div class = 'section-grid'>
        <div></div>
        <div>
            <div class = 'markscheme-grid'>
                <div class = 'markscheme-box'><h5><b>Question</b></h5></div>
                <div class = 'markscheme-box'><h5><b>Answers</b></h5></div>
                <div class = 'markscheme-box'><h5><b>Mark</b></h5></div>
            </div>
            <br>

            {% for q in qlist %}

            {% if q.questionPartList != None %}
            {% for item in q.questionPartList %}
            <div class = 'markscheme-grid'>
                <div class = 'markscheme-box'><h5>{{q.questionNumber}}.{{item.sub_number}}</h5></div>
                <div class = 'answer-box'><h6>{{item.sub_answer}}</h6></div>
                <div class = 'markscheme-box'><h5>{{item.sub_mark}}</h5></div>
            </div>
            <br>
            {% endfor %}
            {% else %}
            <div class = 'markscheme-grid'>
                <div class = 'markscheme-box'><h5>{{q.questionNumber}}</h5></div>
                <div class = 'answer-box'><h6>{{q.answerBase}}</h6></div>
                <div class = 'markscheme-box'><h5>{{q.marksBase}}</h5></div>
            </div>
            {% endif %}

            {% endfor %}

        </div>
        <div></div>
    </div>
</span>




<script type="text/javascript">

function displayMarkscheme() {
  var x = document.getElementById("paper");
  var y = document.getElementById("markscheme");
  y.style.display = "block";
  x.style.display = 'none';
}

function displayPaper() {
  var x = document.getElementById("paper");
  var y = document.getElementById("markscheme");
  x.style.display = "block";
  y.style.display = 'none';
}
</script>

{% endblock %}