{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/..">Home</a></li>
      <li class="breadcrumb-item"><a href="/pcep">PCEP</a></li>
      <li class="breadcrumb-item active" aria-current="page">Module 1: Bacic Concepts</li>
    </ol>
</nav>


<div class="jumbotron">
    <h1 class="display-4">Start here!</h1>
    <p>Try a couple of the questions here to see what you need to work on</p>
    <hr class="my-4">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-motion-in-a-circle" data-toggle="tab" href="#nav-motion-in-a-circle" role="tab" aria-controls="nav-nav-motion-in-a-circle" aria-selected="true">Random questions</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-motion-in-a-circle" role="tabpanel" aria-labelledby="nav-motion-in-a-circle">
            <a class="dropdown-item" href="a_basic_concepts_random/" target="_blank">Random basic contepts question</a>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h1 class="display-4">Fundamental concepts</h1>
    <p>Pick your favourite...</p>
    <hr class="my-4">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-interpreting-the-interpreter" data-toggle="tab" href="#nav-interpreting-the-interpreter" role="tab" aria-controls="nav-interpreting-the-interpreter" aria-selected="true">Interpreting the interpreter</a>
            <a class="nav-item nav-link" id="nav_centripetal_acceleration" data-toggle="tab" href="#nav-centripetal" role="tab" aria-controls="nav-centripetal" aria-selected="false">Centripetal acceleration</a>
            <a class="nav-item nav-link" id="nav_on_the_road" data-toggle="tab" href="#nav-on" role="tab" aria-controls="nav-on" aria-selected="false">Centripetal forces on the road</a>
            <a class="nav-item nav-link" id="nav_at_the_fairground" data-toggle="tab" href="#nav-at" role="tab" aria-controls="nav-at" aria-selected="false">Centripetal forces at the fair ground</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-interpreting-the-interpreter" role="tabpanel" aria-labelledby="nav-interpreting-the-interpreter">
            <a class="dropdown-item" href="a_basic_concepts_random/" target="_blank">Random basic contepts question</a>
            <a class="dropdown-item" href="a1qa_interpreting_the_interpreter/" target="_blank">interpreting the interpreter</a>
            <a class="dropdown-item" href="a1qb_compilation_and_the_compiler/" target="_blank">compilation and the compiler</a>
            <a class="dropdown-item" href="a1qc_machine_higher_level_natural_languages/" target="_blank">machine higher level natural languages</a>
            <a class="dropdown-item" href="a1qd_language_elements/" target="_blank">language elements</a>
            <a class="dropdown-item" href="a1qe_python/" target="_blank">the python language</a>
            <a class="dropdown-item" href="a1qf_python_keywords/" target="_blank">python keywords</a>
            <a class="dropdown-item" href="a1qg_indentation_and_spacing/" target="_blank">indentation and spacing</a>
        </div>
        <div class="tab-pane fade" id="nav-centripetal" role="tabpanel" aria-labelledby="nav_centripetal_acceleration">
            <a class="dropdown-item" href="e2_centripetal_acceleration_random/" target="_blank">Random centripetal acceleration question</a>
            <a class="dropdown-item" href="e2qa_the_wheel_of/" target="_blank">Questions about wheels</a>
            <a class="dropdown-item" href="e2qb_object_circular_path/" target="_blank">Circular paths</a>
            <a class="dropdown-item" href="e2qc_earth_around_sun/" target="_blank">Planets in orbit</a>
            <a class="dropdown-item" href="e2qd_hammer_thrower/" target="_blank">Hammer throwers</a>
        </div>
        <div class="tab-pane fade" id="nav-on" role="tabpanel" aria-labelledby="nav_on_the_road">
            <a class="dropdown-item" href="e3_on_the_road_random/" target="_blank">Random support force question, Top Gear style </a>
            <a class="dropdown-item" href="e3qa_bridge/" target="_blank">Driving over humps</a>
            <a class="dropdown-item" href="e3qb_roundabout/" target="_blank">Roundabout</a>
            <a class="dropdown-item" href="e3qc_racingtrack/" target="_blank">Taking corners on the track</a>
        </div>
        <div class="tab-pane fade" id="nav-at" role="tabpanel" aria-labelledby="nav_at_the_fairground">
            <a class="dropdown-item" href="e4_at_the_fairground_random/" target="_blank">Random support force question about sensible fair rides</a>
            <a class="dropdown-item" href="e4qa_rollercoaster/" target="_blank">Rollercoasters</a>
            <a class="dropdown-item" href="e4qb_swing/" target="_blank">Big swings</a>
            <a class="dropdown-item" href="e4qc_wheel/" target="_blank">Ferriswheels</a>
        </div>
    </div>
</div>


{% endblock %}
