{% extends "base.html" %}

{% block content %}



<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">PCAP</li>
    </ol>
</nav>





<div class="jumbotron text-left bg-light">
    <div class="container">
      <h1>Python Certified Associate Programmer Exam practice questions. Have at it!</h1>
      <hr>

      <div class="card text-center">
        <div class="card-header">
          Quick Random Questions
        </div>
        <div class="card-body">
          <h5 class="card-title">Life is like a box of chocolates...</h5>
          <p class="card-text">These questions can come from any module in the PCAP syllabus</p>
          <a href="random_pcap/" class="btn btn-primary" target="_blank">Let's go!</a>
        </div>
        <div class="card-footer text-muted">
          New archetypes added daily!
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Module 1 Questions</h5>
              <div class="alert alert-danger" role="alert">
                Not built yet
              </div>
              <a href="#" class="btn btn-primary.disabled">Check back later</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Module 2 Questions</h5>
              <div class="alert alert-danger" role="alert">
                Not built yet
              </div>
              <a href="#" class="btn btn-primary.disabled">Check back later</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Module 3</h5>
              <div class="alert alert-danger" role="alert">
                Not built yet
              </div>
              <a href="#" class="btn btn-primary.disabled">Check back later</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Module 4</h5>
              <div class="alert alert-danger" role="alert">
                Not built yet
              </div>
              <a href="#" class="btn btn-primary.disabled">Check back later</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Module 5</h5>
              <div class="alert alert-danger" role="alert">
                Not built yet
              </div>
              <a href="#" class="btn btn-primary.disabled">Check back later</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Module 6</h5>
              <div class="alert alert-danger" role="alert">
                Not built yet
              </div>
              <a href="#" class="btn btn-primary.disabled">Check back later</a>
            </div>
          </div>
        </div>
      </div>

      



      <details>
        <summary>Currently A-level Physics. Will eventually be something else. Like PCAP</summary>
        <div class="card">
            <div class="card-body">
                <ul>
                    <li>Particles and radiation</li>
                      <ul>
                          <li>Matter and radiation</li>
                          <li>Quarks and leptons</li>
                          <li>Quantum phenomena</li>
                      </ul>
                    <li>Waves and optics</li>
                      <ul>
                          <li>Waves</li>
                          <li>Optics</li>
                          <li>Quantum phenomena</li>
                      </ul>
                    <li>Mechanics and materials</li>
                      <ul>
                          <li>Forces in equilibrium</li>
                          <li>On the move</li>
                          <li>Newton's laws of motion</li>
                          <li>Force and momentum</li>
                          <li>Work, energy and power</li>
                          <li>Materials</li>
                        </ul>
                    <li>Electricity</li>
                      <ul>
                          <li>Electric current</li>
                          <li>DC circuits</li>
                      </ul>
                    <li>Further mechanics and thermal physics</li>
                        <ul>
                            <li>Motion in a circle</li>
                            <li>Simple harmonic motion</li>
                            <li>Thermal physics</li>
                            <li>Gases</li>
                        </ul>
                    <li>Fields</li>
                        <ul>
                            <li>Gravitational fields</li>
                            <li>Electric fields</li>
                            <li>Capacitors</li>
                            <li>Magnetic fields</li>
                            <li>Electromagnetic induction</li>
                        </ul>
                    <li>Nuclear physics</li>
                        <ul>
                            <li>Radioactivity</li>
                            <li>Nuclear energy</li>
                            <li>Capacitors</li>
                            <li>Magnetic fields</li>
                            <li>Electromagnetic induction</li>
                        </ul>
                    <li>Skills for A-level physics</li>
                        <ul>
                            <li>Practical work</li>
                            <li>Maths</li>
                        </ul>

                </ul>
            </div>
          </div>


        </details>



    </div>
  </div>

{% endblock %}