.menu-grid {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    grid-column-gap: 3%;
    grid-row-gap: 20px;
}

@media only screen and (min-width: 640px) {
    .menu-grid {
      grid-template-columns: auto auto;
      grid-column-gap: 3%;
      grid-row-gap: 20px;
    }
    .menu-grid > div {
      padding: 10px;
    }
  }

  @media only screen and (min-width: 981px) {
    .menu-grid {
      grid-template-columns: auto auto auto;
      grid-column-gap: 3%;
      grid-row-gap: 20px;
    }
    .menu-grid > div {
      padding: 10px;
    }
  }

