


{% extends "base.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "css/multi_choice_dynamic.css" %}">
<script type="text/javascript" src="{% static "js/script.js" %}"></script>
<style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
  }
  
  .grid-item {
    font-size: 20px;
    padding: 0px;
    text-align: center;
  }
  .grid-item-l {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    padding: 0px;
    text-align: right;
  }

  .grid-item-r {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    padding: 0px;
    text-align: left;
  </style>




 
<div class="grid-container">
     
    <div class="grid-item"><p>Attempted: </p></div>
    <div class="grid-item-r"><p id = 'attempted'></p></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"><p>% correct: </p></div>
    <div class="grid-item-r"><p id = 'percent'> </p></div>
    <div class="grid-item">
        <p>
          <button type="button" class="btn btn-primary" onclick = "resetCookies();document.getElementById('attempted').innerHTML = '0';document.getElementById('percent').innerHTML = '0';">Start recording/reset stats</button>
        </p>
    </div>
</div>
    
        
    

   
      
      


  
  
  <div class="row">
    <div class="column left"></div>

  <div class="column right">
    {% if diagram != None %}
    <div>
      <p class="centered"><img  width="50%" height="auto" src= "{% static diagram %}" alt="things"></p>
    </div>
    {% endif %}

    {% if piclink != None %}
    <div><p class="centered"><img  width="30%" height="auto" src= "{{piclink}}" alt="things"></p></div>
    {% endif %}
    <h4>{{questionBase}}</h4>
    {% if code != None%}<h4><code>{{code}}</code></h4>{% endif%}
  </div>
</div>

<div class="column left">
</div>

<div class="column right">
  <table class="table table-striped">
    <tbody>
      
      <tr id="answer1">
        <th scope="row" ><h4>1.</h4></th>
        <td ><p >{%if a1 != None%}{{a1}}{% endif %}<code>{%if a1code != None%}{{a1code}}{% endif %}</p></td>
        <td>
          <div class="btn-group dropleft">
            {% if a1ci == "correct"%}<button id="button1" type="button" class="btn btn-primary dropdown-toggle" onclick="document.getElementById('answer1').style.background='lightgreen';document.getElementById('button1').style.background='green';document.getElementById('button1').innerHTML = '{{a1ci}}';ifRespondedCorrect('yes')">Answer</button>{% endif %}
            {% if a1ci == "incorrect"%}<button id="button1" type="button" class="btn btn-primary dropdown-toggle" onclick="document.getElementById('answer1').style.background='pink';document.getElementById('button1').style.background='red';document.getElementById('button1').innerHTML = '{{a1ci}}';addToCookieList('work_on');ifRespondedCorrect('')">Answer</button>{% endif %}
          </div>
        </td>
      </tr>

      <tr id="answer2">
        <th scope="row" ><h4>2.</h4></th>
        <td><p>{%if a2 != None%}{{a2}}{% endif %}<code>{%if a2code != None%}{{a2code}}{% endif %}</p></td>
        <td>
          <div class="btn-group dropleft">
            {% if a2ci == "correct"%}<button id="button2" type="button" class="btn btn-primary dropdown-toggle" onclick="document.getElementById('answer2').style.background='lightgreen';document.getElementById('button2').style.background='green';document.getElementById('button2').innerHTML = '{{a2ci}}';ifRespondedCorrect('yes')">Answer</button>{% endif %}
            {% if a2ci == "incorrect"%}<button id="button2" type="button" class="btn btn-primary dropdown-toggle" onclick="document.getElementById('answer2').style.background='pink';document.getElementById('button2').style.background='red';document.getElementById('button2').innerHTML = '{{a2ci}}';addToCookieList('work_on');ifRespondedCorrect('')">Answer</button>{% endif %}
          </div>
        </td>
      </tr> 

      <tr id="answer3">
        <th scope="row"><h4>3.</h4></th>
        <td><p>{%if a3 != None%}{{a3}}{% endif %}<code>{%if a3code != None%}{{a3code}}{% endif %}</p></td>
        <td>
          <div class="btn-group dropleft">
            {% if a3ci == "correct"%}<button id="button3" type="button" class="btn btn-primary dropdown-toggle" onclick="document.getElementById('answer3').style.background='lightgreen';document.getElementById('button3').style.background='green';document.getElementById('button3').innerHTML = '{{a3ci}}';ifRespondedCorrect('yes')">Answer</button>{% endif %}
            {% if a3ci == "incorrect"%}<button id="button3" type="button" class="btn btn-primary dropdown-toggle" onclick="document.getElementById('answer3').style.background='pink';document.getElementById('button3').style.background='red';document.getElementById('button3').innerHTML = '{{a3ci}}';addToCookieList('work_on');ifRespondedCorrect('')">Answer</button>{% endif %}
          </div>
        </td>
      </tr> 

      <tr id="answer4">
        <th scope="row"><h4>4.</h4></th>
        <td><p >{%if a4 != None%}{{a4}}{% endif %}<code>{%if a4code != None%}{{a4code}}{% endif %}</p></td>
        <td>
          <div class="btn-group dropleft">
            {% if a4ci == "correct"%}<button id="button4" type="button" class="btn btn-primary dropdown-toggle" onclick="document.getElementById('answer4').style.background='lightgreen';document.getElementById('button4').style.background='green';document.getElementById('button4').innerHTML = '{{a4ci}}';ifRespondedCorrect('yes')">Answer</button>{% endif %}
            {% if a4ci == "incorrect"%}<button id="button4" type="button" class="btn btn-primary dropdown-toggle" onclick="document.getElementById('answer4').style.background='pink';document.getElementById('button4').style.background='red';document.getElementById('button4').innerHTML = '{{a4ci}}';addToCookieList('work_on');ifRespondedCorrect('')">Answer</button>{% endif %}
          </div>
        </td>
      </tr>

    </tbody>
  </table>

  {% if hint != None %}
    <details>
      <summary>A little help?</summary>
        <h5>{{hint}}</h5>
        {% if video != None %}
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="{{video}}" allowfullscreen></iframe>
        </div>
        {% endif %}
        {% if weblink != None %}
        {% endif %}
    </details>
  {% endif %}


  
</div>

<div>
  <p class="centered">
    {% if previousQ != None %}
    <a href="{{previousQ}}" class="btn btn-secondary">Previous </a>
    {% endif %}

    <button class="btn btn-primary" onClick="history.go(0);">Generate another one!</button>
    
    {% if nextQ != None %}
    <a href="{{nextQ}}" class="btn btn-secondary">Next</a>
    {% endif %}

  </p>
  <p class="centered">
    <a href="/sql/work_on/" class="btn btn-primary" target='_blank'>See what you need to read up on</a>
  </p>
</div>

<div>
  <p class="centered">
    <div class="alert alert-secondary" role="alert">
      <h5 style="text-align:center;">Close this window to return to the menu</h5>
    </div>    
  </p>
</div>

<script type="text/javascript">

if (getCookie('sql_attempts') == 'nope')
      {
      CookieSet("sql_attempts",'0');
      }
if (getCookie('sql_correct') == 'nope')
      {
      CookieSet("sql_correct",'0');
      }
document.getElementById("attempted").innerHTML = parseInt(getCookie('sql_attempts'));  
document.getElementById("percent").innerHTML = calculatePercentage(); 
console.log(getCookie('sql_attempts') + 'attempts');
console.log(getCookie('sql_correct') + 'correct');
console.log(calculatePercentage());
var responded = 0

document.onload = createWorkOnCookie()

var workOn = "{{workOn}}"
var weblink = "{{weblink}}"
var helplink = "<a href='"+weblink+"' target='_blank'>" + workOn + "</a>"

function addToCookieList(cName){
    if (responded == 0){
        console.log('trying to add');
        console.log(helplink);
        console.log(getCookie("work_on").split(',').includes(helplink));
        console.log(getCookie("work_on").split(','));
        if (getCookie("work_on").split(',').includes(helplink)){
            console.log('No need to add');
            return
        }
        else {
            console.log('adding');
            var value = getCookie(cName) + "," + helplink;
            document.cookie = cName + "=" + value + ";path=/";
        }
    }
}

</script>

{% endblock %}