{% extends "base.html" %}

{% block content %}

<h1>Python Certified Associate in Programming</h1>

<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseInsideTheAtom" aria-expanded="false" aria-controls="collapseExample">
    Control and evaluations
    </button>
</p>
<div class="collapse" id="collapseInsideTheAtom">
    <div class="card card-body">
        <ul>
            <li><a href="">Basic concepts</a></li>
            <li><a href="">Literals</a></li>
            <li><a href="">Operators</a></li>
            <li><a href="">Numeric operators</a></li>
            <li><a href="">Bitwise operators</a></li>
            <li><a href="">String operators</a></li>
            <li><a href="">Boolean operators</a></li>
            <li><a href="">Relational operators</a></li>
            <li><a href="">Assignments and shortcut operators</a></li>
            <li><a href="">Accuracy of floating-point numbers</a></li>
            <li><a href="">Basic input and output</a></li>
            <li><a href="">Formatting print() output</a></li>
            <li><a href="">Conditional statements</a></li>
            <li><a href="">The pass instruction</a></li>
            <li><a href="">Simple lists</a></li>
            <li><a href="">Building loops</a></li>
            <li><a href="">Expanding loops</a></li>
            <li><a href="">Controlling loop execuation</a></li>
        </ul>
    </div>
</div>

{% endblock %}