{% extends "base.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "css/testapp.css" %}">

<div class = "paper-markscheme-buttons-grid">
    <div><h5 class = 'paper' onclick="displayPaperMarkschemeReveal('block', 'none', 'none')">Exam Paper (printable)</h5></div>
    <div><h5 class = 'markscheme' onclick="displayPaperMarkschemeReveal('none', 'block', 'none')">Markscheme (printable)</h5></div>
    <div><h5 class = 'reveal' onclick="displayPaperMarkschemeReveal('none', 'none', 'block')">Hidden answers (interactive)</h5></div>    
</div>

{% if qtype != 'multi' %}

<span id='paper' style="display:block;">
        <div class = 'section-grid'><!--three columns-->
            <div></div><!--margin column 1-->
            <div><!--main section column 2-->
                
                <div class = 'section-header-box'>
                    <h4><b>Section A</b></h4>
                    </br>
                    <h5>Answer <b>all</b> questions in this section.</h5>
                </div>
                
                {% if qlist %}

                {% for q in qlist %}
                <div class = "section-main-grid"><!--three columns-->

                    <div><h5 class = 'question-number-box'>{{q.questionNumber}}</h5></div><!--number margin column 1-->
                    <div></div><!--sub number margin column 2-->
                    <div><!--question section column 3-->
                        {% for  constant in q.constantList %}
                        <h4>{{constant}}</h4>
                        {% endfor %}
                        {% if q.diagram != None %}
                        <div>
                            <p class="centered"><img  width="60%" height="auto" src= "{% static q.diagram %}" alt="things"></p>
                        </div>
                        {% endif %}

                        {% if q.piclink != None %}
                        <div>
                            <p class="centered"><img  width="30%" height="auto" src= "{{q.piclink}}" alt="things"></p>
                        </div>
                        {% endif %}

                        <h5>{{q.questionBase}}</h5>
                        
                    </div>
    

                    {% if q.questionPartList != None %}
                    {% for item in q.questionPartList %}
                
                    <div><!--number margin column 1-->
                        <h5 class = 'question-number-box'>{{q.questionNumber}}.{{item.sub_number}}</h5>
                    </div>
                    <div></div><!--sub number margin column 2-->
                    <div><!--question section column 3-->
                        <h5>{{item.sub_question}}</h5>
                        {% if item.sub_mark != 1 %}
                        <h5 class = "section-marks-base"><b>[{{item.sub_mark}} marks]</b></h5>
                        {% else %}
                        <h5 class = "section-marks-base"><b>[{{item.sub_mark}} mark]</b></h5>
                        {% endif %}
                    </div>

                    

                    {% endfor %}
                    {% endif %}

                    <div></div>
                    <div></div>
                    <div>
                        {% if q.marksBase == None %}
                        <h5 class = "section-marks-base"><b>[1 mark]</b></h5>
                        {% elif q.marksBase == 1 %}
                        <h5 class = "section-marks-base"><b>[{{q.marksBase}} mark]</b></h5>
                        {% else %}
                        <h5 class = "section-marks-base"><b>[{{q.marksBase}} marks]</b></h5>
                        {% endif %}
                    </div>

                    <div></br></div>
                    <div></div>
                    <div></div>

                    <div></br></div>
                    <div></div>
                    <div></div>
                </div>
                {% endfor %}    


                {% else %}

                <div class = "section-main-grid"><!--three columns-->
                    <div><!--number margin column 1-->
                        {% if questionNumber == None %}
                        <h5 class = 'question-number-box'>1</h5>
                        {% else %}
                        <h5 class = 'question-number-box'>{{questionNumber}}</h5>
                        {% endif %}
                    </div>
                    <div></div><!--sub number margin column 2-->
                    <div><!--question section column 3-->
                        {% for  constant in constantList %}
                        <h4>{{constant}}</h4>
                        {% endfor %}
                        {% if diagram != None %}
                        <div>
                            <p class="centered"><img  width="60%" height="auto" src= "{% static diagram %}" alt="things"></p>
                        </div>
                        {% endif %}

                        {% if piclink != None %}
                        <div>
                            <p class="centered"><img  width="30%" height="auto" src= "{{piclink}}" alt="things"></p>
                        </div>
                        {% endif %}

                        <h5>{{questionBase}}</h5>
                        {% if marksBase == None %}
                        <h5 class = "section-marks-base"><b>[1 mark]</b></h5>
                        {% elif marksBase == 1 %}
                        <h5 class = "section-marks-base"><b>[{{marksBase}} mark]</b></h5>
                        {% else %}
                        <h5 class = "section-marks-base"><b>[{{marksBase}} marks]</b></h5>
                        {% endif %}
                    </div>
    

                    {% if questionPartList != None %}
                    {% for item in questionPartList %}
                
                    <div><!--number margin column 1-->
                        <h5 class = 'question-number-box'>{{questionNumber}}.{{item.sub_number}}</h5>
                    </div>
                    <div></div><!--sub number margin column 2-->
                    <div><!--question section column 3-->
                        <h5>{{item.sub_question}}</h5>
                        {% if item.sub_mark != 1 %}
                        <h5 class = "section-marks-base"><b>[{{item.sub_mark}} marks]</b></h5>
                        {% else %}
                        <h5 class = "section-marks-base"><b>[{{item.sub_mark}} mark]</b></h5>
                        {% endif %}
                    </div>

                    {% endfor %}
                    {% endif %}
                </div>
                {% endif %}
                
            </div>

            <div><p class = 'donot'>Do not write outside the box</p></div><!--margin-->
        </div>
</span>

<span id='markscheme' style="display:none;">
    <div class = 'section-grid'>
        <div></div>
        <div>
            <div class = 'markscheme-grid'>
                <div class = 'markscheme-box'><h5><b>Question</b></h5></div>
                <div class = 'markscheme-box'><h5><b>Answers</b></h5></div>
                <div class = 'markscheme-box'><h5><b>Mark</b></h5></div>
            </div>
            <br>

            {% if qlist %}

            {% for q in qlist %}

            {% if q.questionPartList != None %}
            {% for item in q.questionPartList %}
            <div class = 'markscheme-grid'>
                <div class = 'markscheme-box'><h5>{{q.questionNumber}}.{{item.sub_number}}</h5></div>
                <div class = 'answer-box'><h6>{{item.sub_answer}}</h6></div>
                <div class = 'markscheme-box'><h5>{{item.sub_mark}}</h5></div>
            </div>
            <br>
            {% endfor %}
            {% else %}
            <div class = 'markscheme-grid'>
                <div class = 'markscheme-box'><h5>{{q.questionNumber}}</h5></div>
                <div class = 'answer-box'><h6>{{q.answerBase}}</h6></div>
                <div class = 'markscheme-box'><h5>{{q.marksBase}}</h5></div>
            </div>
            {% endif %}

            {% endfor %}

            {% else %}

            {% if questionPartList != None %}
            {% for item in questionPartList %}
            <div class = 'markscheme-grid'>
                <div class = 'markscheme-box'><h5>{{questionNumber}}.{{item.sub_number}}</h5></div>
                <div class = 'answer-box'><h6>{{item.sub_answer}}</h6></div>
                <div class = 'markscheme-box'><h5>{{item.sub_mark}}</h5></div>
            </div>
            <br>
            {% endfor %}
            {% else %}
            <div class = 'markscheme-grid'>
                <div class = 'markscheme-box'><h5>{{questionNumber}}</h5></div>
                <div class = 'answer-box'><h6>{{answerBase}}</h6></div>
                <div class = 'markscheme-box'><h5>{{marksBase}}</h5></div>
            </div>
            <br>
            {% endif %}

            {% endif %}
        </div>
        <div></div>
    </div>
</span>


<span id='reveal' style = "display:none;">

    <div class = 'section-grid'><!--three columns-->
        <div></div><!--margin column 1-->
        <div><!--main section column 2-->
            
            <div class = 'section-header-box'>
                <h4><b>Section A</b></h4>
                </br>
                <h5>Answer <b>all</b> questions in this section.</h5>
            </div>
            
            {% if qlist %}
            {% for q in qlist %}
            <div class = "section-main-grid"><!--three columns-->

                <div><h5 class = 'question-number-box'>{{q.questionNumber}}</h5></div><!--number margin column 1-->
                <div></div><!--sub number margin column 2-->
                <div><!--question section column 3-->
                    {% for  constant in q.constantList %}
                    <h4>{{constant}}</h4>
                    {% endfor %}
                    {% if q.diagram != None %}
                    <div>
                        <p class="centered"><img  width="60%" height="auto" src= "{% static q.diagram %}" alt="things"></p>
                    </div>
                    {% endif %}

                    {% if q.piclink != None %}
                    <div>
                        <p class="centered"><img  width="30%" height="auto" src= "{{q.piclink}}" alt="things"></p>
                    </div>
                    {% endif %}

                    <h5>{{q.questionBase}}</h5>
                    
                </div>


                {% if q.questionPartList != None %}
                {% for item in q.questionPartList %}
            
                <div><!--number margin column 1-->
                    <h5 class = 'question-number-box'>{{q.questionNumber}}.{{item.sub_number}}</h5>
                </div>
                <div></div><!--sub number margin column 2-->
                <div><!--question section column 3-->
                    <h5>{{item.sub_question}}</h5>
                    {% if item.sub_mark != 1 %}
                    <h5 class = "section-marks-base"><b>[{{item.sub_mark}} marks]</b></h5>
                    {% else %}
                    <h5 class = "section-marks-base"><b>[{{item.sub_mark}} mark]</b></h5>
                    {% endif %}
                
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapse{{q.questionNumber}}{{item.sub_number}}" role="button" aria-expanded="false" aria-controls="collapse">
                    Answer
                    </a>
                    <div class="collapse" id="collapse{{q.questionNumber}}{{item.sub_number}}">
                        <div class="card card-body">        
                          <h4>{{item.sub_answer}}</h4>
                          <!--{% if preans != None %}<pre><h4>{{preans}}</h4></pre>{% endif %}-->
                          
                          {% if q.tips != None %}
                          <details>
                            <summary>Not sure where you went wrong?</summary>
                            <div class="card">
                              <div class="card-body">
                                <p>{q.tips}</p>
                              </div>
                            </div>
                          </details>
                          {% endif %}
                  
                        </div>
                    </div>

                </div>
                <div><br></div>
                <div></div>
                <div></div>

                {% endfor %}

                {% else %}
                <div></div>
                <div></div>
                <div>
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapse{{q.questionNumber}}" role="button" aria-expanded="false" aria-controls="collapse">
                    Answer
                    </a>
                    <div class="collapse" id="collapse{{q.questionNumber}}">
                        <div class="card card-body">        
                          <h4>{{q.answerBase}}</h4>
                          <!--{% if preans != None %}<pre><h4>{{preans}}</h4></pre>{% endif %}-->
                          
                          {% if q.tips != None %}
                          <details>
                            <summary>Not sure where you went wrong?</summary>
                            <div class="card">
                              <div class="card-body">
                                <p>{q.tips}</p>
                              </div>
                            </div>
                          </details>
                          {% endif %}
                  
                        </div>
                    </div>
                </div>        

                {% endif %}

                <div></div>
                <div></div>
                <div>
                    {% if q.marksBase == None %}
                    <h5 class = "section-marks-base"><b>[1 mark]</b></h5>
                    {% elif q.marksBase == 1 %}
                    <h5 class = "section-marks-base"><b>[{{q.marksBase}} mark]</b></h5>
                    {% else %}
                    <h5 class = "section-marks-base"><b>[{{q.marksBase}} marks]</b></h5>
                    {% endif %}
                </div>

                <div></br></div>
                <div></div>
                <div></div>

                <div></br></div>
                <div></div>
                <div></div>
            </div>
               
            {% endfor %}

            {% else %}

            <div class = "section-main-grid"><!--three columns-->
                <div><h5 class = 'question-number-box'>{{questionNumber}}</h5></div><!--number margin column 1-->
                <div></div><!--sub number margin column 2-->
                <div><!--question section column 3-->
                    {% if constantList %}
                    {% for  constant in constantList %}
                    <h4>{{constant}}</h4>
                    {% endfor %}
                    {% else %}
                    {% if constant != None %}
                    <h4>{{constant}}</h4>
                    {% endif %}
                    {% endif %}
                    {% if diagram != None %}
                    <div>
                        <p class="centered"><img  width="60%" height="auto" src= "{% static q.diagram %}" alt="things"></p>
                    </div>
                    {% endif %}

                    {% if piclink != None %}
                    <div>
                        <p class="centered"><img  width="30%" height="auto" src= "{{q.piclink}}" alt="things"></p>
                    </div>
                    {% endif %}

                    <h5>{{questionBase}}</h5>
                    
                </div>

            
                {% if questionPartList != None %}
                {% for item in questionPartList %}
            
                <div><!--number margin column 1-->
                    <h5 class = 'question-number-box'>{{questionNumber}}.{{item.sub_number}}</h5>
                </div>
                <div></div><!--sub number margin column 2-->
                <div><!--question section column 3-->
                    <h5>{{item.sub_question}}</h5>
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapse{{questionNumber}}{{item.sub_number}}" role="button" aria-expanded="false" aria-controls="collapse">
                        Answer
                    </a>
                    <div class="collapse" id="collapse{{questionNumber}}{{item.sub_number}}">
                        <div class="card card-body">        
                            <h4>{{item.sub_answer}}</h4>
                            <!--{% if preans != None %}<pre><h4>{{preans}}</h4></pre>{% endif %}-->
                              
                            {% if tips != None %}
                            <details>
                                <summary>Not sure where you went wrong?</summary>
                                <div class="card">
                                  <div class="card-body">
                                    <p>{{tips}}</p>
                                  </div>
                                </div>
                            </details>

                            {% endif %}
                        </div>
                    </div>
                    {% if item.sub_mark != 1 %}
                    <h5 class = "section-marks-base"><b>[{{item.sub_mark}} marks]</b></h5>
                    {% else %}
                    <h5 class = "section-marks-base"><b>[{{item.sub_mark}} mark]</b></h5>
                    {% endif %} 
                </div>              
                
                {% endfor %}
                       
                {% else %}

                <div><!--number margin column 1-->
                    {% if questionNumber == None %}
                    <h5 class = 'question-number-box'>1</h5>
                    {% else %}
                    <h5 class = 'question-number-box'>{{questionNumber}}</h5>
                    {% endif %}
                </div>
                <div></div><!--sub number margin column 2-->
                <div><!--question section column 3-->
                    <h5>{{questionBase}}</h5>
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapse{{questionNumber}}" role="button" aria-expanded="false" aria-controls="collapse">
                        Answer
                    </a>
                    <div class="collapse" id="collapse{{questionNumber}}">
                        <div class="card card-body">        
                            <h4>{{answerBase}}</h4>
                            <!--{% if preans != None %}<pre><h4>{{preans}}</h4></pre>{% endif %}-->
                              
                            {% if tips != None %}
                            <details>
                                <summary>Not sure where you went wrong?</summary>
                                <div class="card">
                                  <div class="card-body">
                                    <p>{{tips}}</p>
                                  </div>
                                </div>
                            </details>
                            {% endif %}
                        </div>
                    </div>
                    {% if marksBase != 1 %}
                    <h5 class = "section-marks-base"><b>[{{marksBase}} marks]</b></h5>
                    {% else %}
                    <h5 class = "section-marks-base"><b>[{{marksBase}} mark]</b></h5>
                    {% endif %}
                </div>
                {% endif %}
            </div><!--closing column 3/3-->
            {% endif %}
            </div><!--closing section main grid containing 3 columns-->
        <div><p class = 'donot'>Do not write outside the box</p></div><!--margin column 3/3 in section grid-->
    </div><!--closing section grid containing 3 columns-->
</span>

{% else %}<!-- if qtype is "multi"-->

<span id='paper' style="display:block;">
    <div class = 'section-grid'><!--three columns-->
        <div></div><!--margin column 1-->
        <div><!--main section column 2-->
            
            <div class = 'section-header-box'>
                <h4><b>Section B</b></h4>
                </br>
                <h5>Each of Questions <b>7</b> to <b>31</b> is followed by four responses, <b>A</b>, <b>B</b>, <b>C</b> and <b>D</b>.</h5>
                </br>
                <h5>For each question select the best response.</h5>
            </div>
            
            {% if qlist %}

            {% for q in qlist %}

            <div class = "section-main-grid"><!--three columns-->
                <div><!--number margin column 1-->
                    {% if q.questionNumber != None %}
                    <h5 class = 'question-number-box'>{{q.questionNumber}}</h5>
                    {% else %}
                    <h5 class = 'question-number-box'>1</h5>
                    {% endif %}
                </div>
                <div></div><!--sub number margin column 2-->
                <div><!--question section column 3-->
                    {% for  constant in q.constantList %}
                    <h4>{{q.constant}}</h4>
                    {% endfor %}
                    {% if q.diagram != None %}
                    <div>
                        <p class="centered"><img  width="60%" height="auto" src= "{% static q.diagram %}" alt="things"></p>
                    </div>
                    {% endif %}

                    {% if q.piclink != None %}
                    <div>
                        <p class="centered"><img  width="30%" height="auto" src= "{{q.piclink}}" alt="things"></p>
                    </div>
                    {% endif %}

                    <h5>{{q.questionBase}}</h5>
                    <h5 class = "section-marks-base"><b>[1 mark]</b></h5>
                    
                    <div class = "multi-choice-grid">
                        <div><h5><b>A</b></h5></div>
                        <div>{{q.a1}}</div>
                        <div class = 'mc-answer-box'><div class='oval'></div></div>
                    </div>

                    <div class = "multi-choice-grid">
                        <div><h5><b>B</b></h5></div>
                        <div>{{q.a2}}</div>
                        <div class = 'mc-answer-box'><div class='oval'></div></div>
                    </div>

                    <div class = "multi-choice-grid">   
                        <div><h5><b>C</b></h5></div>
                        <div>{{q.a3}}</div>
                        <div class = 'mc-answer-box'><div class='oval'></div></div>
                    </div>
    
                    <div class = "multi-choice-grid"> 
                        <div><h5><b>D</b></h5></div>
                        <div>{{q.a4}}</div>
                        <div class = 'mc-answer-box'><div class='oval'></div></div> 
                    </div>
                    
                    <div></div>
                    <div></div>
                    <div></br></div>


                </div>      
            </div>

            
            {% endfor %}

            {% else %}


            <div class = "section-main-grid"><!--three columns-->
                <div><!--number margin column 1-->
                    {% if questionNumber != None %}
                    <h5 class = 'question-number-box'>7</h5>
                    {% else %}
                    <h5 class = 'question-number-box'>{{questionNumber}}</h5>
                    {% endif %}
                </div>
                <div></div><!--sub number margin column 2-->
                <div><!--question section column 3-->
                    {% for  constant in constantList %}
                    <h4>{{constant}}</h4>
                    {% endfor %}
                    {% if diagram != None %}
                    <div>
                        <p class="centered"><img  width="60%" height="auto" src= "{% static diagram %}" alt="things"></p>
                    </div>
                    {% endif %}

                    {% if piclink != None %}
                    <div>
                        <p class="centered"><img  width="30%" height="auto" src= "{{piclink}}" alt="things"></p>
                    </div>
                    {% endif %}

                    <h5>{{questionBase}}</h5>
                    <h5 class = "section-marks-base"><b>[1 mark]</b></h5>
                    
                    <div class = "multi-choice-grid">
                        <div><h5><b>A</b></h5></div>
                        <div>{{a1}}</div>
                        <div class = 'mc-answer-box'><div class='oval'></div></div>
                    </div>

                    <div class = "multi-choice-grid">
                        <div><h5><b>B</b></h5></div>
                        <div>{{a2}}</div>
                        <div class = 'mc-answer-box'><div class='oval'></div></div>
                    </div>

                    <div class = "multi-choice-grid">   
                        <div><h5><b>C</b></h5></div>
                        <div>{{a3}}</div>
                        <div class = 'mc-answer-box'><div class='oval'></div></div>
                    </div>
    
                    <div class = "multi-choice-grid"> 
                        <div><h5><b>D</b></h5></div>
                        <div>{{a4}}</div>
                        <div class = 'mc-answer-box'><div class='oval'></div></div> 
                    </div>



                </div>


                
            </div>


            {% endif %}
        </div>

        <div><p class = 'donot'>Do not write outside the box</p></div><!--margin-->
    </div>
</span>

<span id='markscheme' style="display:none;">
<div class = 'section-grid'>
    <div></div>
    <div>
        <div class = 'markscheme-grid'>
            <div class = 'markscheme-box'><h5><b>Question</b></h5></div>
            <div class = 'markscheme-box'><h5><b>Answers</b></h5></div>
            <div class = 'markscheme-box'><h5><b>Mark</b></h5></div>
        </div>
        <br>

        {% if qlist %}

        {% for q in qlist %}
        <div class = 'markscheme-grid'>
            <div class = 'markscheme-box'><h5>{{q.questionNumber}}</h5></div>
            <div class = 'answer-box'><h6>{{q.multi_correct}}</h6></div>
            <div class = 'markscheme-box'><h5>1</h5></div>
        </div>
        {% endfor %}

        {% else %}

        <div class = 'markscheme-grid'>
            <div class = 'markscheme-box'><h5>{{questionNumber}}</h5></div>
            <div class = 'answer-box'><h6>{{multi_correct}}</h6></div>
            <div class = 'markscheme-box'><h5>1</h5></div>
        </div>

        {% endif %}

    </div>
    <div></div>
</div>
</span>



<span id='reveal' style = "display:none;">

    <div class = 'section-grid'><!--three columns-->
        <div></div><!--margin column 1-->
        <div><!--main section column 2-->
            
            <div class = 'section-header-box'>
                <h4><b>Section B</b></h4>
                </br>
                <h5>Each of Questions <b>7</b> to <b>31</b> is followed by four responses, <b>A</b>, <b>B</b>, <b>C</b> and <b>D</b>.</h5>
                </br>
                <h5>For each question select the best response.</h5>
            </div>
            
            {% if qlist %}

            {% for q in qlist %}

            <div class = "section-main-grid"><!--three columns-->
                <div><!--number margin column 1-->
                    {% if q.questionNumber != None %}
                    <h5 class = 'question-number-box'>{{q.questionNumber}}</h5>
                    {% else %}
                    <h5 class = 'question-number-box'>1</h5>
                    {% endif %}
                </div>
                <div></div><!--sub number margin column 2-->
                <div><!--question section column 3-->
                    {% for  constant in q.constantList %}
                    <h4>{{q.constant}}</h4>
                    {% endfor %}
                    {% if q.diagram != None %}
                    <div>
                        <p class="centered"><img  width="60%" height="auto" src= "{% static q.diagram %}" alt="things"></p>
                    </div>
                    {% endif %}

                    {% if q.piclink != None %}
                    <div>
                        <p class="centered"><img  width="30%" height="auto" src= "{{q.piclink}}" alt="things"></p>
                    </div>
                    {% endif %}

                    <h5>{{q.questionBase}}</h5>
                    <h5 class = "section-marks-base"><b>[1 mark]</b></h5>
                    
                    <div class = "multi-choice-grid">
                        <div><h5><b>A</b></h5></div>
                        <div>{{q.a1}}</div>
                        <div class = 'mc-answer-box'><div class='oval'></div></div>
                    </div>

                    <div class = "multi-choice-grid">
                        <div><h5><b>B</b></h5></div>
                        <div>{{q.a2}}</div>
                        <div class = 'mc-answer-box'><div class='oval'></div></div>
                    </div>

                    <div class = "multi-choice-grid">   
                        <div><h5><b>C</b></h5></div>
                        <div>{{q.a3}}</div>
                        <div class = 'mc-answer-box'><div class='oval'></div></div>
                    </div>
    
                    <div class = "multi-choice-grid"> 
                        <div><h5><b>D</b></h5></div>
                        <div>{{q.a4}}</div>
                        <div class = 'mc-answer-box'><div class='oval'></div></div> 
                    </div>
                    
                    
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapse{{q.questionNumber}}" role="button" aria-expanded="false" aria-controls="collapse">
                            Answer
                    </a>
                    <div class="collapse" id="collapse{{q.questionNumber}}">
                        <div class="card card-body">        
                            <h4>{{q.multi_correct}}</h4>
                            <!--{% if preans != None %}<pre><h4>{{preans}}</h4></pre>{% endif %}-->                                  
                            {% if q.tips != None %}
                            <details>
                                <summary>Not sure where you went wrong?</summary>
                                <div class="card">
                                  <div class="card-body">
                                    <p>{q.tips}</p>
                                  </div>
                                </div>
                            </details>
                            {% endif %}
                        </div>
                    </div>

                </div><!-- closing question section column three-->    
            </div><!-- closing section main grid-->  

            {% endfor %}

            {% else %}


            <div class = "section-main-grid"><!--three columns-->
                <div><!--number margin column 1-->
                    {% if questionNumber != None %}
                    <h5 class = 'question-number-box'>7</h5>
                    {% else %}
                    <h5 class = 'question-number-box'>{{questionNumber}}</h5>
                    {% endif %}
                </div>
                <div></div><!--sub number margin column 2-->
                <div><!--question section column 3-->
                    {% for  constant in constantList %}
                    <h4>{{constant}}</h4>
                    {% endfor %}
                    {% if diagram != None %}
                    <div>
                        <p class="centered"><img  width="60%" height="auto" src= "{% static diagram %}" alt="things"></p>
                    </div>
                    {% endif %}

                    {% if piclink != None %}
                    <div>
                        <p class="centered"><img  width="30%" height="auto" src= "{{piclink}}" alt="things"></p>
                    </div>
                    {% endif %}

                    <h5>{{questionBase}}</h5>
                    <h5 class = "section-marks-base"><b>[1 mark]</b></h5>
                    
                    <div class = "multi-choice-grid">
                        <div><h5><b>A</b></h5></div>
                        <div>{{a1}}</div>
                        <div class = 'mc-answer-box'><div class='oval'></div></div>
                    </div>

                    <div class = "multi-choice-grid">
                        <div><h5><b>B</b></h5></div>
                        <div>{{a2}}</div>
                        <div class = 'mc-answer-box'><div class='oval'></div></div>
                    </div>

                    <div class = "multi-choice-grid">   
                        <div><h5><b>C</b></h5></div>
                        <div>{{a3}}</div>
                        <div class = 'mc-answer-box'><div class='oval'></div></div>
                    </div>
    
                    <div class = "multi-choice-grid"> 
                        <div><h5><b>D</b></h5></div>
                        <div>{{a4}}</div>
                        <div class = 'mc-answer-box'><div class='oval'></div></div> 
                    </div>
                    
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapse{{q.questionNumber}}" role="button" aria-expanded="false" aria-controls="collapse">
                        Answer
                    </a>
                    <div class="collapse" id="collapse{{q.questionNumber}}">
                        <div class="card card-body">        
                            <h4>{{multi_correct}}</h4>
                            <!--{% if preans != None %}<pre><h4>{{preans}}</h4></pre>{% endif %}-->
                              
                            {% if tips != None %}
                            <details>
                                <summary>Not sure where you went wrong?</summary>
                                <div class="card">
                                    <div class="card-body">
                                        <p>{tips}</p>
                                    </div>
                                </div>
                            </details>
                            {% endif %}  
                        </div>
                    </div>

                </div><!-- closing question section column 3/3-->    
            </div><!-- closing section main grid-->  
        {% endif %}     
        </div><!-- closing main section column 2/3-->
        
        <div><p class = 'donot'>Do not write outside the box</p></div><!--main section column 3/3-->
    </div><!--closing section grid-->
</span>
{% endif %}

{% if not qlist %}

<div class = 'lower'>
    <div class = 'lower-item'>
        {% if previousQ != None %}
        <a href="{{previousQ}}" class="btn btn-secondary">Previous </a>
        {% endif %}
    </div>
    <div class = 'lower-item'>
        <button class="btn btn-primary" onClick="history.go(0);">Generate another one!</button>
    </div>
    <div class = 'lower-item'>
        {% if nextQ != None %}
        <a href="{{nextQ}}" class="btn btn-secondary">Next</a>
        {% endif %}
    </div>
    <div></div>
    <div class = 'lower-item'>
        <a href="/work_on/" class="btn btn-primary" target='_blank'>See what you need to read up on</a>
    </div>
</div>
  
<div>
    <p class="centered">
        <div class="alert alert-secondary" role="alert">
            <h5 style="text-align:center;">Close this window to return to the menu</h5>
        </div>    
    </p>
</div>
{% endif %}

<script type="text/javascript">

function displayPaperMarkschemeReveal(paper, ms, reveal) {
  document.getElementById("paper").style.display = paper;
  document.getElementById("markscheme").style.display = ms;
  document.getElementById("reveal").style.display = reveal;
}

</script>

{% endblock %}


