{% extends "base.html" %}

{% block content %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/comptia_a_plus">CompTIA A+</a></li>
      <li class="breadcrumb-item active" aria-current="page">Core 2 220-1002</li>
    </ol>
</nav>

<div class="jumbotron text-left bg-light">
  <div class="container">
    <h1>Core 2 220-1002</h1>
    <p>Which area do you want to work on?</p>
    <hr>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Installing and configuring operating systems</h5>
              <div class="alert alert-danger" role="alert">
                Not built yet
              </div>
              <a href="#" class="btn btn-primary.disabled">Check back later</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Expanded security</h5>
              <div class="alert alert-danger" role="alert">
                Not built yet
              </div>
              <a href="#" class="btn btn-primary.disabled">Check back later</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Software troubleshooting</h5>
              <div class="alert alert-danger" role="alert">
                Not built yet
              </div>
              <a href="#" class="btn btn-primary.disabled">Check back later</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Operational proceedures</h5>
              <div class="alert alert-danger" role="alert">
                Not built yet
              </div>
              <a href="#" class="btn btn-primary.disabled">Check back later</a>
            </div>
          </div>
        </div>
      </div>

      




    </div>
  </div>

{% endblock %}