{% extends "base.html" %}

{% block content %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/comptia_a_plus">CompTIA A+</a></li>
      <li class="breadcrumb-item active" aria-current="page">Core 1 220-1001</li>
    </ol>
</nav>

<div class="jumbotron text-left bg-light">
  <div class="container">
    <h1>Core 1 220-1001</h1>
    <p>Which area do you want to work on?</p>
    <hr>
   
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Mobile Devices</h5>
              <div class="alert alert-warning" role="alert">
                Under construction
              </div>
              <p>
              <a href="number/" class="btn btn-primary">Let me choose</a>
              <a href="number_rand/" class="btn btn-primary" target ="_blank">Give me a random question</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Networking Technology</h5>
              <div class="alert alert-danger" role="alert">
                Not built yet
              </div>
              <a href="#" class="btn btn-primary.disabled">Check back later</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Hardware</h5>
              <div class="alert alert-danger" role="alert">
                Not built yet
              </div>
              <a href="#" class="btn btn-primary.disabled">Check back later</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Virtualisation and cloud computing</h5>
              <div class="alert alert-danger" role="alert">
                Not built yet
              </div>
              <a href="#" class="btn btn-primary.disabled">Check back later</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Network trouble shooting</h5>
              <div class="alert alert-danger" role="alert">
                Not built yet
              </div>
              <a href="#" class="btn btn-primary.disabled">Check back later</a>
            </div>
          </div>
        </div>
      </div>


{% endblock %}