{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">CompTIA A+</li>
    </ol>
</nav>

<div class="jumbotron text-left bg-light">
  <div class="container">
    <h1>Welcome to the CompTIA A+ page!</h1>
    <p>Choose a specific area to work on, or try a full exam's worth of multiple choice, select and submit, or drag and drop questions.</p>
    <hr>
    
    
    <ul class="list-group list-group-horizontal-md">

      <li class="list-group-item">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">CompTIA A+ 220-1001 (core 1) exam</h5>
            <h6 class="card-subtitle mb-2 text-muted">Including:</h6>
            <ul>
                <li>mobile devices</li>
                <li>networking technology</li>
                <li>hardware</li>
                <li>virtualization and cloud computing</li>
                <li>network troubleshooting</li>
            </ul>
            <a href="core_1_220_1001/" class="btn btn-primary">Choose a specific area</a>
            <a href="core_1_220_1001/random" class="btn btn-primary" target ="_blank">Practise everything</a>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">CompTIA A+ 220-1002 (core 2) exam</h5>
                <h6 class="card-subtitle mb-2 text-muted">Including:</h6>
                <ul>
                    <li>installing and configuring operating systems</li>
                    <li>expanded security</li>
                    <li>software troubleshooting</li>
                    <li>operational procedures</li>
                </ul>
              <a href="core_2_220_1002/" class="card-link" target="_blank">Get started!</a>
            </div>
        </div>
      </li>

    </ul>

    <details>
      <summary>Map of the entire syllabus</summary>
      <div class="card">
          <div class="card-body">
              <ul>
                  <li>CompTIA A+ 220-1001 (core 1) exam</li>
                    <ul>
                      <li>mobile devices</li>
                      <ul>
                        <li>Laptop Displays</li>
                        <li>Laptop Features</li>
                        <li>Mobile Devices</li>
                        <li>Mobile Device Accessories</li>
                        <li>Mobile Device Connectivity</li>
                        <li>Mobile Device Synchronization</li>
                      </ul>
                      <li>networking technology</li>
                      <ul>
                        <li>Ports and Protocols</li>
                        <li>Network Devices</li>
                        <li>SOHO Networks</li>
                        <li>Wireless Networks</li>
                        <li>Network Services</li>
                        <li>Network Configurations</li>
                        <li>Internet Connections</li>
                        <li>Network Tools</li>
                      </ul>
                      <li>hardware</li>
                      <ul>
                        <li>Cables and Adapters</li>
                        <li>Connectors</li>
                        <li>Memory</li>                          
                        <li>Storage</li>
                        <li>Motherboards CPUs and Addon Cards</li>
                        <li>Peripherals</li>
                        <li>Power</li>
                        <li>Custom PCs</li>
                        <li>Common Devices</li>
                        <li>SOHO Multifunction Devices</li>
                        <li>Print Technologies</li>
                      </ul>
                      <li>virtualization and cloud computing</li>
                      <ul>
                        <li>Cloud Computing</li>
                        <li>Clientside Virtualization</li>
                      </ul>
                      <li>Troubleshooting</li>
                      <ul>
                        <li>Troubleshooting Computer Hardware</li>
                        <li>Troubleshooting Storage</li>
                        <li>Troubleshooting Displays</li>
                        <li>Troubleshooting Mobile Devices</li>
                        <li>Troubleshooting Printers</li>
                        <li>Troubleshooting Networks</li>
                      </ul>
                    </ul>
                  <li>CompTIA A+ 220-1002 (core 2) exam</li>
                    <ul>
                      <li>installing and configuring operating systems</li>
                      <ul>
                        <li>Operating Systems</li>
                        <li>Microsoft Windows</li>
                        <li>Installing Operating Systems</li>
                        <li>The Windows Command Line</li>
                        <li>Windows Features</li>
                        <li>Windows Control Panel</li>
                        <li>Installation Concepts</li>
                        <li>Windows Networking</li>
                        <li>macOS and Linux</li>
                      </ul>
                      <li>expanded security</li>
                      <ul>
                        <li>Physical Security</li>
                        <li>Logical Security</li>
                        <li>Wireless Security</li>
                        <li>Malware</li>
                        <li>Security Threats</li>
                        <li>Windows Security</li>
                        <li>Workstation Security</li>
                        <li>Mobile Device Security</li>
                        <li>Data Destruction and Disposal</li>
                        <li>SOHO Network Security</li>
                      </ul>
                      <li>software troubleshooting</li>
                      <ul>
                        <li>Troubleshooting Windows</li>
                        <li>Troubleshooting Security Issues</li>
                        <li>Malware Removal</li>
                        <li>Troubleshooting Mobile Applications</li>
                        <li>Troubleshooting Mobile Device Security</li>
                      </ul>
                      <li>operational procedures</li>
                      <ul>
                        <li>Documentation</li>
                        <li>Change Management</li>
                        <li>Disaster Recovery</li>
                        <li>Safety Procedures</li>
                        <li>Environmental Impacts</li>
                        <li>Privacy Licensing and Policies</li>
                        <li>Communication and Professionalism</li>
                        <li>Scripting</li>
                        <li>Remote Access</li>
                      </ul>
                    </ul>                                
              </ul>
          </div>
        </div>                        
      </details>
  </div>
</div>






{% endblock %}