{% extends "base.html" %}

{% block content %}

<main role="main">

  <section class="jumbotron text-center navbar-dark bg-dark">
    <div class="container">
      <h1 class="text-warning">No login. No paywall.</h1>
      <h1 class="text-primary">Just infinite, free revision questions!</h1>

      <p class="lead text-white">A quick, easy-to-use resource for teachers. Free exam practice for students. It's that simple.</p>
      <p class="text-white">Check below to see what we have. New questions added daily!</p>
      <p>
        <a href="physics/" class="btn btn-primary my-2">Go straight to A-level physics!</a>
        <a href="gcsemaths/" class="btn btn-primary my-2">Go straight to GCSE Maths!</a>
      </p>
    </div>
  </section>

</main>

{% endblock %}