{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">

<main role="main" style='display:none'>

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p><strong>Cookie alert!</strong> This site uses cookies so that you can track how many questions you've done, how many you've got right and which questions you've got wrong so you can go and work on them.</p>
    
    <p>Using cookies to do this means you don't have to log in, register, or provide personal data to use this site. <a href='https://youtu.be/79DijItQXMM?t=37' target="_blank">You're welcome.</a> But I'm a one man team, and I don't have time to put something here to switch them off. If you can't handle that <a href='https://www.youtube.com/watch?v=QcuuwL9Z4II' target="_blank">best leave now...</a></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <details>
      <summary>More information</summary>
      <div class="card">
          <div class="card-body">
            What more information could you possibly need? Gosh.
          </div>
      </div>
    </details>
  </div>

  <section class="jumbotron text-center navbar-dark bg-dark">
    <div class="container">
      <h1 class="text-warning">No login. No paywall.</h1>
      <h1 class="text-primary">Just infinite, free revision questions!</h1>

      <p class="lead text-white">A quick, easy-to-use resource for teachers. Free exam practice for students. It's that simple.</p>
      <p class="text-white">Check below to see what we have. New questions added daily!</p>
    </div>
  </section>



  <div>
    <div class = 'menu-grid' >

      <div class = 'menu-item' id='one' style='display:none'>
        <div class="card" style="width: 18rem;">
          <a href="comptia_a_plus/" class="btn btn-warning btn-lg btn-block" role="button" aria-pressed="true">
            <h1 class="display-4">Comptia A+ exams</h1>
          </a>
          <div class="card-body">
            <div class="card-body text-left">
              <p class="lead"><b>Interactive</b> questions for Comptia A+ exam candidates, including multiple choice, drag and drop, select and submit and fill in the blank</p>
              <details id = 'det-one'>
                <summary id = 'sum-one'>Click for full list of features</summary>
                <ul>
                  <li>Instant feedback</li>
                  <li>Automatic score tracking</li>
                  <li>Pass/fail grade after 90 marks</li>
                  <li>Multiple choice, drag and drop, fill the gap, select and submit question types</li>
                </ul>
              </details>
            </div>
          </div>
        </div>
      </div>

      <div class = 'menu-item' id='two' style='display:none'>
        <div class="card" style="width: 18rem;">
          <a href="physics/" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">
            <h1 class="display-4">A-Level Physics</h1>
          </a>
          <div class="card-body">
            <div class="card-body text-left">
              <p class="lead"><b>Printable</b>, <b>whiteboardable</b> questions for teachers and interactive, <b>self grading</b> questions for students</p>
              <details>
                <summary>Click for full list of features</summary>
                <ul>
                  <li>Generate printable exam questions and markschemes</li>
                  <li>Printable resources similarly formatted to exams</li>
                  <li>Individual questions or whole sections</li>
                  <li>Short/long answer section A questions</li>
                  <li>Multiple choice section B questions</li>
                  <li>Interactive 'answer reveal' for teaching</li>
                  <li>Instant feedback for students</li>
                  <li>Interactive input, multiple choice, select and submit question types</li>
                  <li>Automatic section grading</li>
                </ul>
              </details>
              
              
            </div>
          </div>
        </div>

      </div>
      <div class = 'menu-item' id='three' style='display:none'>
        <div class="card" style="width: 18rem;">
          <a href="gcsemaths/" class="btn btn-success btn-lg btn-block" role="button" aria-pressed="true">
            <h1 class="display-4">GCSE Maths</h1>
          </a>
          <div class="card-body">
            
            <div class="card-body text-left">
              <p class="lead">Interactive, <b>self grading</b> questions for students</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  

</main>

<script>
  //$("div.menu-grid").fadeIn('slow');
  $("#main").fadeIn(200);
  $("#one").fadeIn(500);
  $("#two").fadeIn(1000);
  $("#three").fadeIn(1500);

</script>

{% endblock %}