
<html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
      <title>Exam Question Generator</title>
    </head>
    <body>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "css/question.css" %}">


<div class="row"> 
  <div class="column left">
    
    <h4 class="number">0 1</h4>
  </div>
  <div class="column right">
    {% if level != None %}
    <h4> Level {{level}}</h4>    
    {% endif %}

    {% if constant != None %}
    <h4>{{constant}}</h4>
    {% endif %}
    
    {% if svg != None %}
    {{svg}}
    {% endif %}



    {% if diagram != None %}
    <div>
      <p class="centered"><img  width="60%" height="auto" src= "{% static diagram %}" alt="things"></p>
    </div>
    {% endif %}

    {% if piclink != None %}
    <div>
      <p class="centered"><img  width="30%" height="auto" src= "{{piclink}}" alt="things"></p>
    </div>
    {% endif %}
    <h4>{{questionBase}}</h4>
    {% if pre != None %}
    <div>
      <pre><h4>{{pre}}</h4></pre>
    </div>
    {% endif %}
    {% if tip != None %}
    <details>
      <summary>A little help?</summary>
        <h5>{{tip}}</h5>
        {% if video != None %}
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="{{video}}" allowfullscreen></iframe>
        </div>
        {% endif %}
        {% if website != None %}
        <a href="{{website}}" class="btn btn-secondary" target="_blank" data-toogle="tooltip" title="I didn't make this website, but it might help! (opens in a new tab!)">A little more help?</a>
        {% endif %}
    </details>
    {% endif %}

  </div>
</div>

{% if answer != None %}
<div class="row"> 

  <div class="column left">
  </div>
  
  <div class="column right">
    <p>
      <div class="c">
        
        <div>
          
          <h4>[{{marks}} marks]</h4>   
        </div>
      </div>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">
        Answer
      </a>
    </p>
    
    <div class="collapse" id="collapse">
      <div class="card card-body">        
        <h4>{{answer}}</h4>
        {% if preans != None %}
        <pre><h4>{{preans}}</h4></pre>
        {% endif %}
        
        {% if tips != None %}
        <details>
          <summary>Not sure where you went wrong?</summary>
          <div class="card">
            <div class="card-body">
              <p>{tips}</p>
            </div>
          </div>
        </details>
        {% endif %}

      </div>
    </div>
    </p>
  </div> 

</div>
{% endif %}

{% if question1 != None %}
<div class="row"> 

  <div class="column left">
    <h4 class="number">0 1 . 1</h4>
  </div>
  
  <div class="column right">
    <p>
    <h4>{{question1}}</h4>
      <div class="c">
        <div>
          <h4>[{{marks1}} marks]</h4>   
        </div>
      </div>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
        Answer
      </a>
    </p>
    
    <div class="collapse" id="collapse1">
      <div class="card card-body">        
        <h4>{{answer1}}</h4>
      </div>
    </div>
    </p>
  </div> 

</div>
{% endif %}


{% if question2 != None %}
<div class="row"> 

  <div class="column left">
    <h4 class="number">0 1 . 2</h4>
  </div>
  
  <div class="column right">
    <p>
    <h4>{{question2}}</h4>
      <div class="c">
        <div>
          <h4>[{{marks2}} marks]</h4>   
        </div>
      </div>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse1">
        Answer
      </a>
    </p>
    
    <div class="collapse" id="collapse2">
      <div class="card card-body">        
        <h4>{{answer2}}</h4>
      </div>
    </div>
    </p>
  </div> 
  
</div>
{% endif %}


{% if question3 != None %}
<div class="row"> 

  <div class="column left">
    <h4 class="number">0 1 . 3</h4>
  </div>
  
  <div class="column right">
    <p>
    <h4>{{question3}}</h4>
      <div class="c">
        <div>
          <h4>[{{marks3}} marks]</h4>   
        </div>
      </div>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse1">
        Answer
      </a>
    </p>
    
    <div class="collapse" id="collapse3">
      <div class="card card-body">        
        <h4>{{answer3}}</h4>
      </div>
    </div>
    </p>
  </div> 
  
</div>
{% endif %}


{% if question4 != None %}
<div class="row"> 

  <div class="column left">
    <h4 class="number">0 1 . 4</h4>
  </div>
  
  <div class="column right">
    <p>
    <h4>{{question3}}</h4>
      <div class="c">
        <div>
          <h4>[{{marks4}} marks]</h4>   
        </div>
      </div>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapse4">
        Answer
      </a>
    </p>
    
    <div class="collapse" id="collapse4">
      <div class="card card-body">        
        <h4>{{answer4}}</h4>
      </div>
    </div>
    </p>
  </div> 
  
</div>
{% endif %}


{% if question5 != None %}
<div class="row"> 

  <div class="column left">
    <h4 class="number">0 1 . 5</h4>
  </div>
  
  <div class="column right">
    <p>
    <h4>{{question5}}</h4>
      <div class="c">
        <div>
          <h4>[{{marks5}} marks]</h4>   
        </div>
      </div>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapse5" role="button" aria-expanded="false" aria-controls="collapse1">
        Answer
      </a>
    </p>
    
    <div class="collapse" id="collapse5">
      <div class="card card-body">        
        <h4>{{answer5}}</h4>
      </div>
    </div>
    </p>
  </div> 
  
</div>
</div>
{% endif %}



        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>