{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/..">Home</a></li>
      <li class="breadcrumb-item"><a href="/gcsemaths">GCSE Maths</a></li>
      <li class="breadcrumb-item active" aria-current="page">Geometry and measure</li>
    </ol>
</nav>

<div class="jumbotron">
    <h1 class="display-4">Not sure where to start?</h1>
    <p>Try these to see what you need to work on...</p>
    <hr class="my-4">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="random-algebra-basics" data-toggle="tab" href="#nav-random-geometry-basics" role="tab" aria-controls="nav-home" aria-selected="true">Algebraic manipulation</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tab">
        <div class="tab-pane fade show active" id="nav-random-geometry-basics" role="tabpanel" aria-labelledby="nav-random-geometry-basics">
            <a class="dropdown-item" href="eselect_random/" target="_blank">eselect_random</a>
            <a class="dropdown-item" href="egeometry_basics_random/" target="_blank">Random basic geometry</a>
            <a class="dropdown-item" href="egeometry_parallel_random/" target="_blank">Random angles and parallel lines</a>
        </div>
    </div>
</div>


<div class="jumbotron">
    <h1 class="display-4">Basic geometry rules and parallel lines</h1>
    <hr class="my-4">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="algebra_basics" data-toggle="tab" href="#nav-algebra-basics" role="tab" aria-controls="nav-home" aria-selected="true">Basics</a>
            <a class="nav-item nav-link" id="expanding-brackets" data-toggle="tab" href="#nav-expanding-brackets" role="tab" aria-controls="nav-expanding-brackets" aria-selected="false">Using parallel lines</a>
            <a class="nav-item nav-link" id="expanding-brackets" data-toggle="tab" href="#nav-problems" role="tab" aria-controls="nav-problems" aria-selected="false">Geometry problems</a>

        </div>
    </nav>
    <div class="tab-content" id="nav-tab">
        <div class="tab-pane fade show active" id="nav-algebra-basics" role="tabpanel" aria-labelledby="nav-algebra-basics">


            <a class="dropdown-item" href="ea1_angles_in_triangle_no_diagram/" target="_blank">ea1_angles_in_triangle_no_diagram</a>
            <a class="dropdown-item" href="ea1_angles_in_triangle_diagram/" target="_blank">ea1_angles_in_triangle_diagram</a>
            <a class="dropdown-item" href="ea1_angles_on_straight_line_diagram/" target="_blank">ea1_angles_on_straight_line_diagram</a>
            <a class="dropdown-item" href="ea1_angles_in_quadrilateral_diagram/" target="_blank">ea1_angles_in_quadrilateral_diagram</a>
            <a class="dropdown-item" href="ea1_angles_in_isosceles_triangle_diagram/" target="_blank">ea1_angles_in_isosceles_triangle_diagram</a>
            <a class="dropdown-item" href="ea1_isosceles_triangle_pair_known_diagram/" target="_blank">ea1_isosceles_triangle_pair_known_diagram</a>
            <a class="dropdown-item" href="ea1_isosceles_triangle_single_known_diagram/" target="_blank">ea1_isosceles_triangle_single_known_diagram</a>
    
        </div>
        <div class="tab-pane fade" id="nav-expanding-brackets" role="tabpanel" aria-labelledby="nav-expanding-brackets">
            
            <a class="dropdown-item" href="ea2_angles_around_parallel_lines/" target="_blank">ea2_angles_around_parallel_lines</a>
            <a class="dropdown-item" href="ea2_alternate_angles_parallel_lines/" target="_blank">ea2_alternate_angles_parallel_lines</a>
            <a class="dropdown-item" href="ea2_allied_angles_parallel_lines/" target="_blank">ea2_allied_angles_parallel_lines</a>
            <a class="dropdown-item" href="ea2_corresponding_angles_parallel_lines/" target="_blank">ea2_corresponding_angles_parallel_lines</a>
            <a class="dropdown-item" href="ea2_alternate_allied_corresponding/" target="_blank">ea2_alternate_allied_corresponding</a>
        </div>

        <div class="tab-pane fade" id="nav-problems" role="tabpanel" aria-labelledby="nav-problems">
            <a class="dropdown-item" href="ea3_problem2/" target="_blank">ea3_problem2</a>
            <a class="dropdown-item" href="ea3_problem3/" target="_blank">ea3_problem3</a>
            <a class="dropdown-item" href="ea3_problem4/" target="_blank">ea3_problem4</a>
            <a class="dropdown-item" href="ea3_problem5/" target="_blank">ea3_problem5</a>
            <a class="dropdown-item" href="ea3_problem6/" target="_blank">ea3_problem6</a>
            <a class="dropdown-item" href="ea3_problem7/" target="_blank">ea3_problem7</a>
            <a class="dropdown-item" href="ea3_problem8/" target="_blank">ea3_problem8</a>
            <a class="dropdown-item" href="ea3_problem9/" target="_blank">ea3_problem9</a>
            <a class="dropdown-item" href="ea3_problem10/" target="_blank">ea3_problem10</a>
        </div>



    </div>
</div>


<div class="jumbotron">
    <h1 class="display-4">Rules for regular polygons, triangles, quadrilaterals and circles</h1>
    <hr class="my-4">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="algebra_regular" data-toggle="tab" href="#nav-regular" role="tab" aria-controls="nav-regular" aria-selected="true">Regular polygons</a>
            <a class="nav-item nav-link" id="expanding-brackets" data-toggle="tab" href="#nav-triangles" role="tab" aria-controls="nav-triangles" aria-selected="false">triangles</a>
            <a class="nav-item nav-link" id="expanding-brackets" data-toggle="tab" href="#nav-quadrilaterals" role="tab" aria-controls="nav-quadrilaterals" aria-selected="false">Quadrilaterals</a>
            <a class="nav-item nav-link" id="expanding-brackets" data-toggle="tab" href="#nav-circles" role="tab" aria-controls="nav-quadrilaterals" aria-selected="false">Circles</a>

        </div>
    </nav>
    <div class="tab-content" id="nav-tab">
        <div class="tab-pane fade show active" id="nav-regular" role="tabpanel" aria-labelledby="nav-regular">

            
            <a class="dropdown-item" href="eb11_polygon_attributes/" target="_blank">eb11_polygon_attributes</a>
            <a class="dropdown-item" href="eb12_polygon_intext_angles/" target="_blank">eb12_polygon_intext_angles</a>
            <a class="dropdown-item" href="eb13_regular_polygon_attributes/" target="_blank">eb13_regular_polygon_attributes</a>
            <a class="dropdown-item" href="eb14_regular_polygon_exterior_angles/" target="_blank">eb14_regular_polygon_exterior_angles</a>
        </div>
        <div class="tab-pane fade" id="nav-triangles" aria-labelledby="nav-expanding-brackets">
            <a class="dropdown-item" href="eb25_triangle_attributes/" target="_blank">eb25_triangle_attributes</a>
        </div>

        <div class="tab-pane fade" id="nav-quadrilaterals" role="tabpanel" aria-labelledby="nav-problems">
            <a class="dropdown-item" href="eb26_quadrilateral_attributes/" target="_blank">eb26_quadrilateral_attributes</a>
        </div>

        <div class="tab-pane fade" id="nav-circles" role="tabpanel" aria-labelledby="nav-circles">
            <a class="dropdown-item" href="eb31_circle_radius_tangent/" target="_blank">eb31_circle_radius_tangent</a>
            <a class="dropdown-item" href="eb32_circle_two_radi_isosceles/" target="_blank">eb32_circle_two_radi_isosceles</a>
            <a class="dropdown-item" href="eb33_perpendicular_bisector_chord/" target="_blank">eb33_perpendicular_bisector_chord</a>
            <a class="dropdown-item" href="eb34_angle_centre_twice_circumference/" target="_blank">eb34_angle_centre_twice_circumference</a>
            <a class="dropdown-item" href="eb35_angle_semi_circle/" target="_blank">eb35_angle_semi_circle</a>
            <a class="dropdown-item" href="eb36_angle_same_segment_equal/" target="_blank">eb36_angle_same_segment_equal</a>
            <a class="dropdown-item" href="eb37_opposite_cyclic_quadrilateral/" target="_blank">eb37_opposite_cyclic_quadrilateral</a>
            <a class="dropdown-item" href="eb38_tangents_point_same_length/" target="_blank">eb38_tangents_point_same_length</a>
            <a class="dropdown-item" href="eb39_alternate_segment_theorem/" target="_blank">eb39_alternate_segment_theorem</a>
            <a class="dropdown-item" href="eb3_circle_problem1/" target="_blank">eb3_circle_problem1</a>
            <a class="dropdown-item" href="eb3_circle_problem2/" target="_blank">eb3_circle_problem2</a>
        </div>



    </div>
</div>



<div class="jumbotron">
    <h1 class="display-4">Congruence, similarity and transformations</h1>
    <hr class="my-4">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="algebra_regular" data-toggle="tab" href="#nav-con" role="tab" aria-controls="nav-regular" aria-selected="true">Congruence</a>
            <a class="nav-item nav-link" id="expanding-brackets" data-toggle="tab" href="#nav-sim" role="tab" aria-controls="nav-triangles" aria-selected="false">Similarity</a>
            <a class="nav-item nav-link" id="expanding-brackets" data-toggle="tab" href="#nav-simconproblems" role="tab" aria-controls="nav-triangles" aria-selected="false">Similarity and congruence problems</a>
            
        </div>
    </nav>
    <div class="tab-content" id="nav-tab">
        <div class="tab-pane fade show active" id="nav-con" role="tabpanel" aria-labelledby="nav-regular">
            <a class="dropdown-item" href="ec11_congruent_similar/" target="_blank">ec11 congruent similar</a>
            <a class="dropdown-item" href="ec12_congruent_similar_diagrams/" target="_blank">ec12 congruent similar diagrams</a>
            <a class="dropdown-item" href="ec13_congruent_triangle_rules/" target="_blank">ec13 congruent triangle rules</a>
            <a class="dropdown-item" href="ec14_congruent_triangle_rules_diagrams/" target="_blank">ec14 congruent triangle rules diagrams</a>
        

        </div>
        <div class="tab-pane fade" id="nav-sim" aria-labelledby="nav-expanding-brackets">
            <a class="dropdown-item" href="ec21_similar_congruent/" target="_blank">ec21 similar congruent</a>
            <a class="dropdown-item" href="ec22_similar_congruent_diagrams/" target="_blank">ec22 similar congruent diagrams</a>
            <a class="dropdown-item" href="ec23_similar_triangle_rules/" target="_blank">ec23 similar triangle rules</a>
            <a class="dropdown-item" href="ec25_all_angles_match_up/" target="_blank">ec25 all angles match up</a>
            <a class="dropdown-item" href="ec26_all_sides_match_up/" target="_blank">ec26 all sides match up</a>
            <a class="dropdown-item" href="ec27_two_sides_one_angle/" target="_blank">ec27 two sides one angle</a>
            <a class="dropdown-item" href="ec28_all_angles_match_up_proof/" target="_blank">ec28 all angles match up proof</a>
            <a class="dropdown-item" href="ec29_all_sides_match_up_proof/" target="_blank">ec29 all sides match up proof</a>
            <a class="dropdown-item" href="ec210_two_sides_one_angle_proof/" target="_blank">ec210 two sides one angle proof</a>
            
        </div>

        
        <div class="tab-pane fade" id="nav-simconproblems" aria-labelledby="nav-expanding-brackets">
            <a class="dropdown-item" href="ec1_prove_congruency1/" target="_blank">ec1 prove congruency1</a>
            <a class="dropdown-item" href="ec1_prove_congruency2/" target="_blank">ec1 prove congruency2</a>
            <a class="dropdown-item" href="ec2_prove_similarity1/" target="_blank">ec2 prove similarity1</a>
            <a class="dropdown-item" href="ec2_use_similarity1/" target="_blank">ec2 use similarity1</a>
            <a class="dropdown-item" href="ec2_use_similarity2/" target="_blank">ec2 use similarity2</a>
            
        </div>

        



    </div>
</div>

<div class="jumbotron">
    <h1 class="display-4">Area, Surface area and volume</h1>
    <hr class="my-4">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="algebra_regular" data-toggle="tab" href="#nav-area-triangles-quadrilaterals" role="tab" aria-controls="nav-regular" aria-selected="true">Area of triangles and quadrilaterals</a>
            <a class="nav-item nav-link" id="expanding-brackets" data-toggle="tab" href="#nav-area-circles" role="tab" aria-controls="nav-triangles" aria-selected="false">Area of circles</a>
            <a class="nav-item nav-link" id="expanding-brackets" data-toggle="tab" href="#nav-surface-area" role="tab" aria-controls="nav-surface-area" aria-selected="false">Surface area</a>
            <a class="nav-item nav-link" id="expanding-brackets" data-toggle="tab" href="#nav-volume" role="tab" aria-controls="nav-volume" aria-selected="false">Volume</a>

            
        </div>
    </nav>
    <div class="tab-content" id="nav-tab">
        <div class="tab-pane fade show active" id="nav-area-triangles-quadrilaterals" role="tabpanel" aria-labelledby="nav-regular">
            <a class="dropdown-item" href="ed10_area_triangle_quadrilateral_formulas11/" target="_blank">ed10 area triangle quadrilateral formulas (1)</a>
            <a class="dropdown-item" href="ed11_area_triangles13/" target="_blank">ed11 area triangles (3)</a>
            <a class="dropdown-item" href="ed12_area_parallelogram13/" target="_blank">ed12 area parallelogram (3)</a>
            <a class="dropdown-item" href="ed13_area_trapezium23/" target="_blank">ed13 area trapezium (3)</a>
            <a class="dropdown-item" href="ed14_area_triangles23/" target="_blank">ed14 area triangles (3)</a>
            <a class="dropdown-item" href="ed15_area_parallelogram24/" target="_blank">ed15 area parallelogram (4)</a>
            <a class="dropdown-item" href="ed16_area_trapezium24/" target="_blank">ed16 area trapezium (4)</a>
            <a class="dropdown-item" href="ed17_area_trapezium_problem25/" target="_blank">ed17 area trapezium problem (5)</a>
            <a class="dropdown-item" href="ed18_area_triangle_rectangle24/" target="_blank">ed18 area triangle rectangle (4)</a>
        

        </div>
        <div class="tab-pane fade" id="nav-area-circles" aria-labelledby="nav-expanding-brackets">
            <a class="dropdown-item" href="ed20_circumference_radius_and_diameter_12/" target="_blank">circumference radius and diameter (level 2)</a>
            <a class="dropdown-item" href="ed21_formulas_for_area_circumference_arcs_sectors_and_segments13/" target="_blank">formulas for area circumference arcs sectors and segments (level 3)</a>
            <a class="dropdown-item" href="ed22_area_of_a_circle_23/" target="_blank">area of a circle (level 3)</a>
            <a class="dropdown-item" href="ed23_circumference_of_a_circle_23/" target="_blank">circumference of a circle (level 3)</a>
            <a class="dropdown-item" href="ed24_area_and_circumference_23/" target="_blank">area and circumference (level 3)</a>
            <a class="dropdown-item" href="ed25_arcs_and_sectors_12/" target="_blank">arcs and sectors (level 2)</a>
            <a class="dropdown-item" href="ed26_segments_12/" target="_blank">segments  (level 2)</a>
            <a class="dropdown-item" href="ed27_segments_arcs_and_sectors13/" target="_blank">segments arcs and sectors (level 3)</a>
            <a class="dropdown-item" href="ed28_area_of_a_sector26/" target="_blank">area of a sector (level 6)</a>
            <a class="dropdown-item" href="ed29_length_of_arc26/" target="_blank">length of arc (level 6)</a>
            <a class="dropdown-item" href="ed210_area_of_segments37/" target="_blank"> area of segments (level 7)</a>
            <a class="dropdown-item" href="ed211_area_of_pacman26/" target="_blank"> area of pacman (level 6)</a>
            <a class="dropdown-item" href="ed212_shape_problem26/" target="_blank"> shape problem (level 6)</a>

        </div>

        <div class="tab-pane fade" id="nav-surface-area" aria-labelledby="nav-surface-area">
            <a class="dropdown-item" href="ee10_terminology13/" target="_blank">terminology (level 3)</a>
            <a class="dropdown-item" href="ee11_count_vertices_edges_faces13/" target="_blank">count vertices edges faces (level 3)</a>
            <a class="dropdown-item" href="ee12_surface_area14/" target="_blank">surface area (level 4)</a>
            <a class="dropdown-item" href="ee13_surface_area_formulas14/" target="_blank">surface area formulas (level 4)</a>
            <a class="dropdown-item" href="ee14_surface_area_of_a_sphere25/" target="_blank">surface area of a sphere (level 5)</a>
            <a class="dropdown-item" href="ee15_surface_area_of_a_cylinder25/" target="_blank">surface area of a cylinder (level 5)</a>
            <a class="dropdown-item" href="ee16_surface_area_of_a_cone25/" target="_blank">surface area of a cone (level 5)</a>
            <a class="dropdown-item" href="ee17_use_surface_area_formula_to_find_an_unknown_value_in_a_sphere25/" target="_blank">use surface area formula to find an unknown value in a sphere (level 5)</a>
            <a class="dropdown-item" href="ee18_use_surface_area_formula_to_find_an_unknown_value_in_a_cyinder25/" target="_blank">use surface area formula to find an unknown value in a cyinder (level 5)</a>
            <a class="dropdown-item" href="ee19_use_surface_area_formula_to_find_an_unknown_value_in_a_cone25/" target="_blank">use surface area formula to find an unknown value in a cone (level 5)</a>
            <a class="dropdown-item" href="ee110_problem_hemisphere36/" target="_blank"> problem hemisphere (level 6)</a>
        </div>

        <div class="tab-pane fade" id="nav-volume" aria-labelledby="nav-volume">
            <a class="dropdown-item" href="ee20_identify_the_3D_shape13/" target="_blank">identify the 3D shape (level 3)</a>
            <a class="dropdown-item" href="ee21_definitions_of_3D_shapes13/" target="_blank">definitions of 3D shapes (level 3)</a>
            <a class="dropdown-item" href="ee22_volume_formulas13/" target="_blank">volume formulas (level 3)</a>
            <a class="dropdown-item" href="ee23_volume_of_a_prism_with_cross_sectional_area_known13/" target="_blank">volume of a prism with cross sectional area known (level 3)</a>
            <a class="dropdown-item" href="ee24_volume_of_a_sphere_with_radius_known25/" target="_blank">volume of a sphere with radius known (level 5)</a>
            <a class="dropdown-item" href="ee25_volume_of_a_pyramid_with_base_and_height_known25/" target="_blank">volume of a pyramid with base and height known (level 5)</a>
            <a class="dropdown-item" href="ee25_volume_of_a_cone_with_radius_and_height_known25/" target="_blank">volume of a cone with radius and height known (level 5)</a>
            <a class="dropdown-item" href="ee26_volume_of_a_frustrum_with_volume_of_original_cone_known46/" target="_blank">volume of a frustrum with volume of original cone known (level 6)</a>
            <a class="dropdown-item" href="ee27_volume_of_a_hemisphere_with_radius_known35/" target="_blank">volume of a hemisphere with radius known (level 5)</a>

        </div>

    </div>
</div>
{% endblock %}