


{% extends "base.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "css/multi_choice_dynamic.css" %}">
<!--<script type="text/javascript" src="{% static "js/script.js" %}"></script>-->
<style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
  }
  
  .grid-item {
    font-size: 20px;
    padding: 0px;
    text-align: center;
  }
  .grid-item-l {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    padding: 0px;
    text-align: right;
  }

  .grid-item-r {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    padding: 0px;
    text-align: left;
  </style>




 
<div class="grid-container">
    
    <div class="grid-item"></div>
    <div class="grid-item">
        <p>
          <button type="button" class="btn btn-primary" onclick = "resetCookies();resetElements()">Reset</button>
        </p>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"><button onclick="displayMulti()">Multi-choice</button></div>
    <div class="grid-item"><button onclick="displayShow()">Answer reveal</button></div>
    <div class="grid-item"></div>

    <div class="grid-item"></div>
    <div class="grid-item"><p>Attempted: </p></div>
    <div class="grid-item-r"><p id = 'attempted'>0</p></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    
    <div class="grid-item"></div>
    <div class="grid-item"><p>Score: </p></div>
    <div class="grid-item-r"><p id = 'score'>0</p></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>

    <div class="grid-item"></div>
    <div class="grid-item"><p>Grade: </p></div>
    <div class="grid-item-r"><p id = 'grade'>Revealed after 80 marks</p></div>

  
</div>

<div class="row">
    <div class="column left"></div>

    <div class="column right">

      {% if diagram != None %}
      <div>
        <p class="centered"><img  width="60%" height="auto" src= "{% static diagram %}" alt="things"></p>
      </div>
      {% endif %}

      {% if piclink != None %}
      <div>
        <p class="centered"><img  width="30%" height="auto" src= "{{piclink}}" alt="things"></p>
      </div>
      {% endif %}
      
      <h4>{{questionBase}}</h4>
      
      {% if pre != None %}
      <div>
        <pre><h4>{{pre}}</h4></pre>
      </div>
      {% endif %}
      
      {% if tip != None %}
      <details>
        <summary>A little help?</summary>
          <h5>{{tip}}</h5>
          {% if video != None %}
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{video}}" allowfullscreen></iframe>
          </div>
          {% endif %}
          {% if website != None %}
          <a href="{{website}}" class="btn btn-secondary" target="_blank" data-toogle="tooltip" title="I didn't make this website, but it might help! (opens in a new tab!)">A little more help?</a>
          {% endif %}
      </details>
      {% endif %}

    </div>
</div>
    


<span id='multi'>
  
  <div class="column left">
  </div>

  <div class="column right">
    <table class="table table-striped">
      <tbody>
        
        <tr id="answer1">
          <th scope="row" ><h4>1.</h4></th>
          <td ><p >{%if a1 != None%}{{a1}}{% endif %}<code>{%if a1code != None%}{{a1code}}{% endif %}</p></td>
          <td>
            <div class="btn-group dropleft">
              {% if a1ci == "correct"%}<button id="button1" type="button" class="btn btn-primary dropdown-toggle" onclick="document.getElementById('answer1').style.background='lightgreen';document.getElementById('button1').style.background='green';document.getElementById('button1').innerHTML = '{{a1ci}}';ifRespondedCorrect('yes')">Answer</button>{% endif %}
              {% if a1ci == "incorrect"%}<button id="button1" type="button" class="btn btn-primary dropdown-toggle" onclick="document.getElementById('answer1').style.background='pink';document.getElementById('button1').style.background='red';document.getElementById('button1').innerHTML = '{{a1ci}}';addToCookieList('work_on');ifRespondedCorrect('')">Answer</button>{% endif %}
            </div>
          </td>
        </tr>

        <tr id="answer2">
          <th scope="row" ><h4>2.</h4></th>
          <td><p>{%if a2 != None%}{{a2}}{% endif %}<code>{%if a2code != None%}{{a2code}}{% endif %}</p></td>
          <td>
            <div class="btn-group dropleft">
              {% if a2ci == "correct"%}<button id="button2" type="button" class="btn btn-primary dropdown-toggle" onclick="document.getElementById('answer2').style.background='lightgreen';document.getElementById('button2').style.background='green';document.getElementById('button2').innerHTML = '{{a2ci}}';ifRespondedCorrect('yes')">Answer</button>{% endif %}
              {% if a2ci == "incorrect"%}<button id="button2" type="button" class="btn btn-primary dropdown-toggle" onclick="document.getElementById('answer2').style.background='pink';document.getElementById('button2').style.background='red';document.getElementById('button2').innerHTML = '{{a2ci}}';addToCookieList('work_on');ifRespondedCorrect('')">Answer</button>{% endif %}
            </div>
          </td>
        </tr> 

        <tr id="answer3">
          <th scope="row"><h4>3.</h4></th>
          <td><p>{%if a3 != None%}{{a3}}{% endif %}<code>{%if a3code != None%}{{a3code}}{% endif %}</p></td>
          <td>
            <div class="btn-group dropleft">
              {% if a3ci == "correct"%}<button id="button3" type="button" class="btn btn-primary dropdown-toggle" onclick="document.getElementById('answer3').style.background='lightgreen';document.getElementById('button3').style.background='green';document.getElementById('button3').innerHTML = '{{a3ci}}';ifRespondedCorrect('yes')">Answer</button>{% endif %}
              {% if a3ci == "incorrect"%}<button id="button3" type="button" class="btn btn-primary dropdown-toggle" onclick="document.getElementById('answer3').style.background='pink';document.getElementById('button3').style.background='red';document.getElementById('button3').innerHTML = '{{a3ci}}';addToCookieList('work_on');ifRespondedCorrect('')">Answer</button>{% endif %}
            </div>
          </td>
        </tr> 

        <tr id="answer4">
          <th scope="row"><h4>4.</h4></th>
          <td><p >{%if a4 != None%}{{a4}}{% endif %}<code>{%if a4code != None%}{{a4code}}{% endif %}</p></td>
          <td>
            <div class="btn-group dropleft">
              {% if a4ci == "correct"%}<button id="button4" type="button" class="btn btn-primary dropdown-toggle" onclick="document.getElementById('answer4').style.background='lightgreen';document.getElementById('button4').style.background='green';document.getElementById('button4').innerHTML = '{{a4ci}}';ifRespondedCorrect('yes')">Answer</button>{% endif %}
              {% if a4ci == "incorrect"%}<button id="button4" type="button" class="btn btn-primary dropdown-toggle" onclick="document.getElementById('answer4').style.background='pink';document.getElementById('button4').style.background='red';document.getElementById('button4').innerHTML = '{{a4ci}}';addToCookieList('work_on');ifRespondedCorrect('')">Answer</button>{% endif %}
            </div>
          </td>
        </tr>

      </tbody>
    </table>

    {% if hint != None %}
      <details>
        <summary>A little help?</summary>
          <h5>{{hint}}</h5>
          {% if video != None %}
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{video}}" allowfullscreen></iframe>
          </div>
          {% endif %}
          {% if weblink != None %}
          {% endif %}
      </details>
    {% endif %}
    
  </div>

</span>




<span id='reveal' style="display:none;">

  {% if answer != None %}
  <div class="row"> 

    <div class="column left">
    </div>
    
    <div class="column right">
      <p>
        
        <a class="btn btn-primary" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse" onclick='revealedAnswer()'>
          Answer
        </a>
      </p>
      
      <div class="collapse" id="collapse">
        <div class="card card-body">        
          <h4>{{answer}}</h4>
          {% if preans != None %}
          <pre><h4>{{preans}}</h4></pre>
          {% endif %}
          
          {% if tips != None %}
          <details>
            <summary>Not sure where you went wrong?</summary>
            <div class="card">
              <div class="card-body">
                <p>{tips}</p>
              </div>
            </div>
          </details>
          {% endif %}

        </div>
      </div>
      </p>
    </div> 

  </div>
  {% endif %}  
    
  </div>
</span>

<span id='drag_and_drop'>
  <div class="row"> 

    <div class="column left">
    </div>

    <div class="column right">
      

    </div>

  </div>

</span>

<div class="row">   
  <div class="column left"></div>
  <div class="column right">
    <div class="c">
      <h4>[{{marks}} marks]</h4>  
    </div>
  </div>
</div>

<div>
  <p class="centered">
    {% if previousQ != None %}
    <a href="{{previousQ}}" class="btn btn-secondary">Previous </a>
    {% endif %}

    <button class="btn btn-primary" onClick="history.go(0);">Generate another one!</button>
    
    {% if nextQ != None %}
    <a href="{{nextQ}}" class="btn btn-secondary">Next</a>
    {% endif %}

  </p>
  <p class="centered">
    <a href="/sql/work_on/" class="btn btn-primary" target='_blank'>See what you need to read up on</a>
  </p>
</div>

<div>
  <p class="centered">
    <div class="alert alert-secondary" role="alert">
      <h5 style="text-align:center;">Close this window to return to the menu</h5>
    </div>    
  </p>
</div>

<script type="text/javascript">
//setting cookies if they don't exist: gcsemaths_attempts, gcsemaths_possible, gcsemaths_correct
if (getCookie('gcsemaths_attempts') == 'nope')
  {
  setCookie("gcsemaths_attempts",'0');
  console.log("No gcsemaths_attempts cookie so we made one");
  }
if (getCookie('gcsemaths_possible') == 'nope')
  {
  setCookie("gcsemaths_possible",'0');
  console.log("No gcsemaths_possible cookie so we made one");
  }
if (getCookie('gcsemaths_correct') == 'nope')
  {
  setCookie("gcsemaths_correct",'0');
  console.log("No gcsemaths_cookie so we made one");
  }

document.onload = createWorkOnCookie()



//Allows stats to be reset onclick of button
function resetCookies(){
    console.log("Resetting cookies!")
    setCookie('gcsemaths_attempts', '0')
    setCookie('gcsemaths_possible', '0')
    setCookie('gcsemaths_correct', '0')
}

//Allows reset of visual elements
function resetElements(){
  console.log("Visual elements reset");
  document.getElementById("attempted").innerHTML = '0';
  //document.getElementById("correct").innerHTML = '0';
  //document.getElementById("possible").innerHTML = '0';
  //document.getElementById("percent").innerHTML = '0';
  document.getElementById("grade").innerHTML = 'Complete 80 marks to get a grade!';
  document.getElementById("score").innerHTML = '0';
}

//Displaying to the console to make sure it is working
console.log(getCookie('gcsemaths_attempts') + ' attempts');
console.log(getCookie('gcsemaths_correct') + ' correct');
console.log(calculatePercentage());



//following variable and function enable workon cookie list to be populated
var workOn = "{{workOn}}"
var weblink = "{{weblink}}"
var helplink = "<a href='"+weblink+"' target='_blank'>" + workOn + "</a>"

function addToCookieList(cName){
    if (responded == 0){
        console.log('trying to add');
        console.log(helplink);
        console.log(getCookie("work_on").split(',').includes(helplink));
        console.log(getCookie("work_on").split(','));
        if (getCookie("work_on").split(',').includes(helplink)){
            console.log('No need to add');
            return
        }
        else {
            console.log('adding');
            var value = getCookie(cName) + "," + helplink;
            document.cookie = cName + "=" + value + ";path=/";
        }
    }
}

//
function calculatePercentage(){
    if (getCookie('gcsemaths_attempted') == 0){
      return 0;
    }else{
      var percent = Math.ceil( getCookie('gcsemaths_correct') / getCookie('gcsemaths_possible') * 100);
      return percent;
    }
}

//following var and function allows attempts to be incremented
var responded = 0;
var possible_marks = {{marks}};
var possible = getCookie('gcsemaths_possible');
var correct_marks = getCookie('gcsemaths_correct');
var out_of = correct_marks.toString() + '/' + possible.toString();//create string to show score

document.getElementById("score").innerHTML = out_of//update score element
document.getElementById("grade").innerHTML = scoreEighty()//work out whether grades can be displaye



function scoreEighty(){
  if (possible < 80){
    var grade = (80 - possible).toString() + ' to go';
  }
  else {
    if (calculatePercentage() > 86){
      grade = (9).toString();
    }
    if (calculatePercentage() > 71){
      grade = (8).toString();
    }
    if (calculatePercentage() > 56){
      grade = (7).toString();
    }
    if (calculatePercentage() > 43){
      grade = (6).toString();
    }
    if (calculatePercentage() > 31){
      grade = (5).toString();
    }
    if (calculatePercentage() > 18){
      grade = (4).toString();
    }
    if (calculatePercentage() > 11){
      grade = (3).toString();
    }
  }
  return grade;
}



//populating attempts, possible score, correct score
document.getElementById("attempted").innerHTML = parseInt(getCookie('gcsemaths_attempts'));
document.getElementById("score").innerHTML = out_of
//document.getElementById("correct").innerHTML = parseInt(getCookie('gcsemaths_correct'));  
//document.getElementById("possible").innerHTML = parseInt(getCookie('gcsemaths_possible'));  
//document.getElementById("percent").innerHTML = calculatePercentage(); 

function revealedAnswer(){
  responded = 1;
}

console.log(possible_marks)
function ifRespondedCorrect(correct){
  if (responded == 0){
    responded = 1
    incrementCookie('gcsemaths_attempts');//record attempt on cookie
    document.getElementById("attempted").innerHTML = parseInt(getCookie('gcsemaths_attempts'));//update attempted element with cookie value
    incrementCookie('gcsemaths_possible', possible_marks);//increase possible cookie
    console.log('first response');
    if (correct == 'yes'){
      incrementCookie('gcsemaths_correct', possible_marks);//increase correct cookie
    }else{
      console.log('Wrong');
    }
  }else{
      console.log('SOOOO many clicks');//happens if you click twice
      return
  }
  var possible = getCookie('gcsemaths_possible');
  var correct_marks = getCookie('gcsemaths_correct');
  var out_of = correct_marks.toString() + '/' + possible.toString();//create string to show score

  document.getElementById("score").innerHTML = out_of//update score element
  document.getElementById("grade").innerHTML = scoreEighty()//work out whether grades can be displayed
}

// get list stored in cookie and put on screen somewhere
function createWorkOnCookie(){//Creates cookie to record subjects to work on, if not existing
    if (getCookie("work_on") == 'nope'){
        document.cookie = "work_on='';path=/;"
        console.log('set workon cookie')
    }
    else{
      console.log('no need to set')
    }
}

//allow changes between multiple choice and reveal answer perpectives
function displayMulti() {
  var x = document.getElementById("reveal");
  var y = document.getElementById("multi");
  y.style.display = "block";
  x.style.display = "none";
}

function displayShow() {
  var x = document.getElementById("reveal");
  var y = document.getElementById("multi");
  x.style.display = "block";
  y.style.display = "none";
}

// utility functions

//sets a cookie with a given name and value
function setCookie (cName, cValue){//sets a cookie
    document.cookie = `${cName}=${cValue};path=/`;
}

//either returns the value of a cookie or "nope" if cookies doesn't exist
function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "nope";
}

// increases value of any given cookie, default of 1
function incrementCookie(cName, to_add = 1){
    var value = parseInt(getCookie(cName)) + to_add;
    setCookie(cName, value)
    console.log('Incremented')
    console.log(cName)
}

</script>

{% endblock %}