{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/..">Home</a></li>
      <li class="breadcrumb-item"><a href="/gcsemaths/">GCSE Maths</a></li>
      <li class="breadcrumb-item active" aria-current="page">Number</li>
    </ol>
</nav>


<div class="jumbotron">
    <h1 class="display-4">Order positive and negative integers, decimals and fractions</h1>
    <hr class="my-4">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="ordering_values" data-toggle="tab" href="#nav-ordering_values" role="tab" aria-controls="nav-home" aria-selected="true">Ordering values</a>
          <a class="nav-item nav-link" id="comparative_operators" data-toggle="tab" href="#nav-comparative_operators" role="tab" aria-controls="nav-comparative_operators" aria-selected="false">Comparative operators</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tab">
        <div class="tab-pane fade show active" id="nav-ordering_values" role="tabpanel" aria-labelledby="nav-ordering_values">
            
            <a class="dropdown-item" href="aaa_ordering_numbers11/" target="_blank">ordering numbers (level 1)</a>
            <a class="dropdown-item" href="aab_in_order_of_size23/" target="_blank">in order of size (level 3)</a>
            <a class="dropdown-item" href="aac_ordering_decimals11/" target="_blank">ordering decimals (level 1)</a>
            <a class="dropdown-item" href="aad_ordering_fractions12/" target="_blank">ordering fractions (level 2)</a>
            <a class="dropdown-item" href="aae_ordering_fractions_and_decimals13/" target="_blank">ordering fractions and decimals (level 3)</a>
            <a class="dropdown-item" href="aai_xth_odd_number13/" target="_blank">xth odd number (level 3)</a>
            <a class="dropdown-item" href="aaj_xth_even_number13/" target="_blank">xth even number (level 3)</a>
            <a class="dropdown-item" href="aak_xth_prime_number13/" target="_blank">xth prime number (level 3)</a>
            <a class="dropdown-item" href="aal_all_factors_of_x24/" target="_blank">all factors of x (level 4)</a>
        </div>
        <div class="tab-pane fade" id="nav-comparative_operators" role="tabpanel" aria-labelledby="nav-comparative_operators">
            <a class="dropdown-item" href="aaf_comparative_operators_with_integers13/" target="_blank">comparative operators with integers (level 3)</a>
            <a class="dropdown-item" href="aag_comparative_operators_with_fractions13/" target="_blank">comparative operators with fractions (level 3)</a>
            <a class="dropdown-item" href="aah_comparative_operators_with_fractions_and_decimals13/" target="_blank">comparative operators with fractions and decimals (level 3)</a>    
        </div>

    </div>
</div>

<div class="jumbotron">
    <h1 class="display-4">Addition, subtraction, multiplication and division</h1>
    <hr class="my-4">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="ops_whole_numbers" data-toggle="tab" href="#nav-ops_whole_numbers" role="tab" aria-controls="ops_whole_numbers" aria-selected="true">Basic operations with whole numbers</a>
          <a class="nav-item nav-link" id="ops_tens_hundreds" data-toggle="tab" href="#nav-ops_tens_hundreds" role="tab" aria-controls="nav-ops_tens_hundreds" aria-selected="false">Basic operations with tens and units</a>
          <a class="nav-item nav-link" id="ops_negative_numbers" data-toggle="tab" href="#nav-ops_Negative_numbers" role="tab" aria-controls="nav-ops_negative_numbers" aria-selected="false">Operations with negative numbers</a>
          <a class="nav-item nav-link" id="ops_decimals" data-toggle="tab" href="#nav-ops_decimals" role="tab" aria-controls="nav-ops_decimals" aria-selected="false">Basic operations with decimals</a>
          <a class="nav-item nav-link" id="ops_fractions" data-toggle="tab" href="#nav-ops_fractions" role="tab" aria-controls="nav-ops_fractions" aria-selected="false">Basic operations with fractions</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tab">
        <div class="tab-pane fade show active" id="nav-ops_whole_numbers" role="tabpanel" aria-labelledby="nav-ops_whole_numbers">
            <a class="dropdown-item" href="abaa_add_unit_11/" target="_blank"> add unit  (level 1)</a>
            <a class="dropdown-item" href="abab_add_sub_integers_11/" target="_blank"> add sub integers  (level 1)</a>
            <a class="dropdown-item" href="abac_sub_integers_11/" target="_blank"> sub integers  (level 1)</a>
            <a class="dropdown-item" href="abad_multiply_unit13/" target="_blank"> multiply unit (level 3)</a>
            <a class="dropdown-item" href="abae_subtract_unit13/" target="_blank"> subtract unit (level 3)</a>
            <a class="dropdown-item" href="abai_divide_unit13/" target="_blank"> divide unit (level 3)</a>
            <a class="dropdown-item" href="abat_multiply_divide_random13/" target="_blank"> multiply divide random (level 3)</a>
            <a class="dropdown-item" href="abau_multiply_integers13/" target="_blank"> multiply integers (level 3)</a>
            <a class="dropdown-item" href="abav_divide_integers13/" target="_blank"> divide integers (level 3)</a>
            <a class="dropdown-item" href="abaw_random_integers13/" target="_blank"> random integers (level 3)</a>
        </div>
        <div class="tab-pane fade show active" id="nav-ops_tens_hundreds" role="tabpanel" aria-labelledby="nav-ops_tens_hundreds">
            <a class="dropdown-item" href="abaf_add_tens_hundreds13/" target="_blank"> add tens hundreds (level 3)</a>
            <a class="dropdown-item" href="abag_subtract_tens_hundreds13/" target="_blank"> subtract tens hundreds (level 3)</a>
            <a class="dropdown-item" href="abah_multiply_tens_hundreds13/" target="_blank"> multiply tens hundreds (level 3)</a>
            <a class="dropdown-item" href="abaj_divide_tens_hundreds13/" target="_blank"> divide tens hundreds (level 3)</a>
        </div>
        <div class="tab-pane fade show active" id="nav-ops_negative_numbers" role="tabpanel" aria-labelledby="nav-ops_negative_numbers">
            <a class="dropdown-item" href="abak_negative_add_unit13/" target="_blank"> negative add unit (level 3)</a>
            <a class="dropdown-item" href="abal_negative_add_tens_hundreds13/" target="_blank"> negative add tens hundreds (level 3)</a>
            <a class="dropdown-item" href="abam_negative_subtract_unit13/" target="_blank"> negative subtract unit (level 3)</a>
            <a class="dropdown-item" href="aban_negative_subtract_tens_hundreds13/" target="_blank"> negative subtract tens hundreds (level 3)</a>
            <a class="dropdown-item" href="abao_negative_add_sub_integers13/" target="_blank"> negative add sub integers (level 3)</a>
            <a class="dropdown-item" href="abap_negative_multiply_unit13/" target="_blank"> negative multiply unit (level 3)</a>
            <a class="dropdown-item" href="abar_negative_divide_unit13/" target="_blank"> negative divide unit (level 3)</a>
            <a class="dropdown-item" href="abaq_negative_multiply_tens_hundreds13/" target="_blank"> negative multiply tens hundreds (level 3)</a>
            <a class="dropdown-item" href="abas_negative_divide_tens_hundreds13/" target="_blank"> negative divide tens hundreds (level 3)</a>
        </div>
        <div class="tab-pane fade" id="nav-ops_decimals" role="tabpanel" aria-labelledby="ops_decimals">
            <a class="dropdown-item" href="abba_add_sub_decimals24/" target="_blank"> add sub decimals (level 4)</a>
            <a class="dropdown-item" href="abbb_multiply_decimals24/" target="_blank"> multiply decimals (level 4)</a>
            <a class="dropdown-item" href="abbc_divide_decimals24/" target="_blank"> divide decimals (level 4)</a>
            <a class="dropdown-item" href="abbd_random_decimals23/" target="_blank"> random decimals (level 3)</a>
        </div>
        <div class="tab-pane fade" id="nav-ops_fractions" role="tabpanel" aria-labelledby="ops_fractions">
            <a class="dropdown-item" href="abca_add_sub_fractions24/" target="_blank"> add sub fractions (level 4)</a>
            <a class="dropdown-item" href="abcb_multiply_fractions24/" target="_blank"> multiply fractions (level 4)</a>
            <a class="dropdown-item" href="abcc_divide_fractions24/" target="_blank"> divide fractions (level 4)</a>
            <a class="dropdown-item" href="abcd_random_fractions24/" target="_blank"> random fractions (level 4)</a>
            <a class="dropdown-item" href="abce_add_sub_mixed_fractions24/" target="_blank"> add sub mixed fractions (level 4)</a>
            <a class="dropdown-item" href="abcf_multiply_mixed_fractions24/" target="_blank"> multiply mixed fractions (level 4)</a>
            <a class="dropdown-item" href="abce_decimal_as_fraction24/" target="_blank"> decimal as fraction (level 4)</a>
            <a class="dropdown-item" href="abcf_fraction_as_decimal24/" target="_blank"> fraction as decimal (level 4)</a>
        </div>

    </div>
</div>










{% endblock %}