{% extends "base.html" %}

{% block content %}

<h3>{{constant}}</h3>

<h2>{{question}}</h2>

<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
    Click for answer
  </a>
</p>
<div class="collapse" id="collapseExample2">
  <div class="card card-body">
    <h3>{{answer}}</h3>
  </div>
</div>

<h5>Refresh for another question</h5>
<h5><a href="/gcsemaths">Back to main GCSE Maths menu</a></h5>

{% endblock %}